{% from "components/multi_step_modal_form.html" import MultiStepModalForm %}

{% import "fragments/applications/new_member_modal_content.html" as member_steps %}

{{ MultiStepModalForm(
    name='add-app-mem',
    form=new_member_form,
    form_action=url_for("applications.create_member", application_id=application.id),
    steps=[
      member_steps.MemberStepOne(new_member_form),
      member_steps.MemberStepTwo(new_member_form, application)
    ],
    button_text=("portfolios.admin.add_new_member" | translate),
    button_icon="plus",
  ) }}
