{% from "components/icon.html" import Icon %}
{% from "components/toggle_list.html" import ToggleButton, ToggleSection %}

<div class="application-list-item">
  <header>
    <div class="responsive-table-wrapper__header">
      <div class='responsive-table-wrapper__title'>
        <div class='h3'>{{ 'portfolios.applications.environments_heading' | translate }}</div>
      </div>
      <a class='icon-link'>
        {{ Icon('info') }}
        {{ "portfolios.admin.settings_info" | translate }}
      </a>
    </div>
  </header>

  <div class="accordion-table accordion-table-list">
    <div class="accordion-table__head">
      <span>{{ "portfolios.applications.environments.name" | translate }}</span>
      <span class="float-right">{{ "portfolios.applications.environments.members" | translate }}</span>
    </div>

    <ul class="accordion-table__items">
      {% for name, members_list in environments_obj.items() %}
        <toggler inline-template>
          <li class="accordion-table__item">
            <div class="accordion-table__item-content">
              <span>
                {{ name }}
              </span>
              <span class="icon-link">
                {% set edit_environment_button %}
                  {{ Icon('edit') }}
                {% endset %}

                {{
                  ToggleButton(
                    open_html=edit_environment_button,
                    close_html=edit_environment_button,
                    section_name="edit"
                  )
                }}
              </span>
              <span class="icon-link icon-link--large accordion-table__item__toggler">
                {% set open_members_button %}
                  Members ({{ members_list | length }}) {{ Icon('caret_down') }}
                {% endset %}

                {% set close_members_button %}
                  Members ({{ members_list | length }}) {{ Icon('caret_up') }}
                {% endset %}

                {{
                  ToggleButton(
                    open_html=open_members_button,
                    close_html=close_members_button,
                    section_name="members"
                  )
                }}
              </span>
            </div>

            {% call ToggleSection(section_name="members") %}
              <ul>
                {% for member in members_list %}
                <li class="accordion-table__item__expanded">
                  <div class="accordion-table__item__expanded_first">{{ member.name }}</div>
                  <div class="right">{{ member.role }}</div>
                </li>
                {% endfor %}
              </ul>
            {% endcall %}

            {% call ToggleSection(section_name="edit") %}
              <ul>
                <li class="accordion-table__item__expanded">
                  <div>
                    <form>
                      <div class="form-row">
                        <div class="form-col form-col--half">
                          Row here
                        </div>
                      </div>
                    </form>
                  </div>
                </li>
              </ul>
            {% endcall %}
          </li>
        </toggler>
      {% endfor %}
    </ul>
  </div>
</div>
