{% from "components/icon.html" import Icon %}

<div class="application-list-item">
  <header>
    <div class="list-header">
      <div class='left'>
        <div class='h3'>{{ 'portfolios.applications.environments_heading' | translate }}</div>
      </div>
      <a class='icon-link'>
        {{ Icon('info') }}
        {{ "portfolios.admin.settings_info" | translate }}
      </a>
    </div>
  </header>

  <div>
    <table>
      <thead>
        <tr>
            <td>{{ "portfolios.applications.environments.name" | translate }}</td>
            <td>{{ "portfolios.applications.environments.members" | translate }}</td>
        </tr>
      </thead>

      <tbody>
          {% for environment in application.environments %}
            <tr is='toggler' v-cloak>
            <template slot-scope='props'>

              <th v-on:click="props.toggle">{{ environment.name }}</th>

              <template v-if="props.isVisible">
                <span v-on:click="props.toggle" class='icon-link toggle-link'>
                <td>Hide Members({{ environment.num_users }}){{ Icon('caret_up') }}</td>
              </template>
              <template v-else>
                <span v-on:click="props.toggle" class='icon-link toggle-link'>
                <td>Show Members({{ environment.num_users }}){{ Icon('caret_down') }}</td>
              </template>

            </template>
            </tr>

            <tr >
              <td class='accordian__item application-list-item__environment'>
                <div class='application-list-item__environment__name'>
                  <span>User Name here</span>
                </div>
              </td>
            </tr>
          {% endfor %}

      </tbody>
    </table>
  </div>
</div>
