{% from "components/icon.html" import Icon %}
{% from "components/toggle_list.html" import ToggleList %}

<div class="application-list-item">
  <header>
    <div class="responsive-table-wrapper__header">
      <div class='responsive-table-wrapper__title'>
        <div class='h3'>{{ 'portfolios.applications.environments_heading' | translate }}</div>
      </div>
      <a class='icon-link'>
        {{ Icon('info') }}
        {{ "portfolios.admin.settings_info" | translate }}
      </a>
    </div>
  </header>

  <div class="accordion-table accordion-table-list">
    <div class="accordion-table__head">
      <span>{{ "portfolios.applications.environments.name" | translate }}</span>
      <span class="float-right">{{ "portfolios.applications.environments.members" | translate }}</span>
    </div>

    <ul class="accordion-table__items">
      {% for name, members_list in environments_obj.items() %}
        {% call ToggleList(item_name=name, item_type="Members", length=(members_list|length)) %}
          <ul>
            {% for member in members_list %}
            <li class="accordion-table__item__expanded">
              <div class="accordion-table__item-content">{{ member }}</div>
            </li>
            {% endfor %}
          </ul>
        {% endcall %}
      {% endfor %}
    </ul>
  </div>
</div>
