{% from "components/icon.html" import Icon %}
{% from "components/semi_collapsible_text.html" import SemiCollapsibleText %}


<div class="task-order__review">
  <div class="form-row">
    <div class="form-col">
      <div class="h2">
        {{ "task_orders.review.review_your_funding" | translate }}
      </div>
      <div>
        <div class="totals-box">
          {% if task_order %}
            {% set obligated_funds = task_order.total_obligated_funds %}
            {% set contract_amount = task_order.total_contract_amount %}
          {% endif %}

          <div class="h4">{{ 'components.totals_box.obligated_funds' | translate }}</div>
          <div class="h3">{{ obligated_funds | dollars }}</div>
          <p>{{ 'components.totals_box.obligated_text' | translate }}</p>
          <div class="h4">{{ 'components.totals_box.total_amount' | translate }}</div>
          <div class="h3">{{ contract_amount | dollars }}</div>
          <p>{{ 'components.totals_box.total_text' | translate }}</p>

        </div>
      </div>

      <div class="h3">
        {{ 'task_orders.review.pdf_title' | translate }}
      </div>
      <a class="icon-link icon-link--download" href="{{ pdf_download_url }}">
        {{ Icon('ok') }}
        {{ task_order.pdf.filename }}
      </a>

      <hr>

      <div class="col task-order__details">
        <div class="h3">
          {{ "task_orders.review.task_order_number" | translate }}
        </div>
        <div>{{task_order.number}}</div>

        <hr>

        <div class="h3">
          {{ "task_orders.review.funding_summary" | translate }}
        </div>


          <table class="fixed-table-wrapper">
            <thead>
              <tr>
                <th>{{ "task_orders.review.clins.number" | translate }}</th>
                <th>{{ "task_orders.review.clins.type" | translate }}</th>
                <th>{{ "task_orders.review.clins.idiq_clin_description" | translate }}</th>
                <th>{{ "task_orders.review.clins.pop" | translate }}</th>
                <th class="task-order__amount">{{ "task_orders.review.clins.total_amount" | translate }}</th>
                <th class="task-order__amount">{{ "task_orders.review.clins.obligated" | translate }}</th>
              </tr>
            </thead>

            <tbody>
              {% for clin in task_order.sorted_clins %}
              <tr>
                <td>{{ clin.number }}</td>
                <td>{{ clin.type }}</td>
                <td>{{ "{}".format(clin.jedi_clin_type) | translate}}</td>
                <td>
                 {{ clin.start_date | formattedDate }} -  {{ clin.end_date | formattedDate }}
                </td>
                {# TODO: Swap in total CLIN amount #}
                <td class="task-order__amount">{{ clin.total_amount | dollars }}</td>
                <td class="task-order__amount">{{ clin.obligated_amount | dollars }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
