{% from "components/icon.html" import Icon %}
{% from "components/semi_collapsible_text.html" import SemiCollapsibleText %}
{% from "components/tooltip.html" import Tooltip %}


{% set obligated_funds = task_order.total_obligated_funds %}
{% set contract_amount = task_order.total_contract_amount %}
{% set expended_funds = task_order.invoiced_funds %}

<div>
  <section class="row">
    <div class='col col--grow reporting-summary-item'>
      <h4 class="reporting-summary-item__header">
        <span class="reporting-summary-item__header-text">Total obligated funds</span>
        {{ Tooltip(("task_orders.review.tooltip.obligated_funds" | translate), title="", classes="reporting-summary-item__header-icon") }}
      </h4>
      <p class="reporting-summary-item__value--large">
        {{ obligated_funds | dollars }}
      </p>
    </div>
    <div class='col col--grow reporting-summary-item'>
      <h4 class="reporting-summary-item__header">
        <span class="reporting-summary-item__header-text">Total Task Order value</span>
        {{ Tooltip(("task_orders.review.tooltip.total_value" | translate), title="", classes="reporting-summary-item__header-icon") }}
      </h4>
      {% set earliest_pop_start_date, latest_pop_end_date = portfolio.funding_duration %}
      {% if earliest_pop_start_date and latest_pop_end_date  %}
        <p class="reporting-summary-item__value--large">
          {{ contract_amount | dollars }}
        </p>
      {% else %}
        <p class="reporting-summary-item__value--large"> - </p>
      {% endif %}
    </div>
    <div class='col col--grow reporting-summary-item'>
      <h4 class="reporting-summary-item__header">
        <span class="reporting-summary-item__header-text">Total expended funds</span>
        {{ Tooltip(("task_orders.review.tooltip.expended_funds" | translate), title="", classes="reporting-summary-item__header-icon") }}
      </h4>
      <p class="reporting-summary-item__value--large">
        {{ expended_funds | dollars }}
      </p>
    </div>
  </section>
  <hr>
  <section>
    <h4>Documents</h4>
    <div class="panel panel__content">
      <a href="{{ pdf_download_url }}">
        {{ task_order.pdf.filename }}
        {{ Icon('link', classes="icon--primary icon--medium") }}
      </a>
    </div>
  </section>
  <hr>
  <section>
    <h4>CLIN summary</h4>
    <table class="fixed-table-wrapper atat-table">
      <thead>
        <tr>
          <th>{{ "task_orders.review.clins.number" | translate }}</th>
          <th>{{ "task_orders.review.clins.type" | translate }}</th>
          <th>{{ "task_orders.review.clins.idiq_clin_description" | translate }}</th>
          <th>{{ "task_orders.review.clins.pop" | translate }}</th>
          <th class="task-order__amount">{{ "task_orders.review.clins.total_amount" | translate }}</th>
          <th class="task-order__amount">{{ "task_orders.review.clins.obligated" | translate }}</th>
        </tr>
      </thead>

      <tbody>
        {% for clin in task_order.sorted_clins %}
        <tr>
          <td>{{ clin.number }}</td>
          <td>{{ clin.type }}</td>
          <td>{{ "{}".format(clin.jedi_clin_type) | translate}}</td>
          <td>
           {{ clin.start_date | formattedDate }} -  {{ clin.end_date | formattedDate }}
          </td>
          {# TODO: Swap in total CLIN amount #}
          <td class="task-order__amount">{{ clin.total_amount | dollars }}</td>
          <td class="task-order__amount">{{ clin.obligated_amount | dollars }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>
