{% from "components/alert.html" import Alert %}
{% from "components/icon.html" import Icon %}
{% import "components/member_form.html" as member_form %}
{% from "components/modal.html" import Modal %}
{% from "components/multi_step_modal_form.html" import MultiStepModalForm %}
{% from 'components/save_button.html' import SaveButton %}
{% import "portfolios/fragments/member_form_fields.html" as member_form_fields %}
{% from "components/toggle_menu.html" import ToggleMenu %}

{% if user_can(permissions.EDIT_PORTFOLIO_USERS) -%}
  {% for member in members -%}
    {% set modal_name = "edit_member-{}".format(loop.index) %}
    {% call Modal(modal_name, classes="form-content--app-mem") %}
      <div class="modal__form--header">
        <h1>{{ Icon('avatar') }} {{ "portfolios.applications.members.form.edit_access_header" | translate({ "user": member.user_name }) }}</h1>
      </div>
      <base-form inline-template>
        <form id='{{ modal_name }}' method="POST" action="{{ url_for('portfolios.update_member', portfolio_id=portfolio.id, portfolio_role_id=member.role_id) }}">
          {{ member.form.csrf_token }}
          {{ member_form.SubmitStep(
            name=modal_name,
            form=member_form_fields.PermsFields(member.form, member_role_id=member.role_id),
            submit_text="Save Changes",
            previous=False,
            modal=modal_name,
          ) }}
        </form>
      </base-form>
    {% endcall %}
  {%- endfor %}
{%- endif %}

<h3>Portfolio Managers</h3>
<div class="panel">
  <section class="member-list">
    <div class="responsive-table-wrapper">
      <table class="atat-table">
        <thead>
          <tr>
            <th class="table-cell--third">Name</th>
            <th>Portfolio Permissions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong>{{ ppoc.user_name }}{% if ppoc.role_id == current_member_id %} (You){% endif %}</strong>
              <br>
              {{ Label(type="ppoc", classes='label--below label--purple')}}
            </td>
            <td>
              {% for perm, value in ppoc.permission_sets.items() -%}
                <div>
                  {{ ("portfolios.admin.members.{}.{}".format(perm, value)) | translate }}
                </div>
              {%-endfor %}
            </td>
          </tr>
          {% for member in members -%}
            {% set perms_modal = "edit_member-{}".format(loop.index) %}
            <tr>
              <td>
                <strong>{{ member.user_name }}{% if member.role_id == current_member_id %} (You){% endif %}</strong>
                <br>
                {{ Label(type=member.status, classes='label--below')}}
              </td>
              <td class="toggle-menu__container">
                {% for perm, value in member.permission_sets.items() -%}
                  <div>
                    {% if value -%}
                      {{ ("portfolios.admin.members.{}.{}".format(perm, value)) | translate }}
                    {%- endif %}
                  </div>
                {%-endfor %}
                {% if user_can(permissions.EDIT_PORTFOLIO_USERS) -%}
                  {% call ToggleMenu() %}
                    <a v-on:click="openModal('{{ perms_modal }}')">Edit Permissions</a>
                    <a href="#">Resend Invite</a>
                    <a href="#">Revoke Invite</a>
                  {% endcall %}
                {%- endif %}
              </td>
            </tr>
          {%- endfor %}
        </tbody>
      </table>
    </div>
  </section>

  {% if user_can(permissions.CREATE_PORTFOLIO_USERS) %}
    {% set new_manager_modal = "add-portfolio-manager" %}
    <a class="usa-button usa-button-secondary add-new-button" v-on:click="openModal('{{ new_manager_modal }}')">
      Add Portfolio Manager
    </a>

    {{ MultiStepModalForm(
      name=new_manager_modal,
      form=new_manager_form,
      form_action=url_for("portfolios.invite_member", portfolio_id=portfolio.id),
      steps=[
        member_form.BasicStep(
          title="Add Manager",
          form=member_form_fields.InfoFields(new_manager_form.user_data),
          next_button_text="Next: Permissions",
          previous=False,
          modal=new_manager_modal,
        ),
        member_form.SubmitStep(
          name=new_manager_modal,
          form=member_form_fields.PermsFields(new_manager_form),
          submit_text="Add Mananger",
          modal=new_manager_modal,
        )
      ],
    ) }}
  {% endif %}
</div>
