.progress-menu {
  display: block;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &--three {
    .progress-menu__item {
      width: 32%;
    }
  }

  &--four {
    .progress-menu__item {
      width: 24%;
    }
  }

  &--five {
    .progress-menu__item {
      width: 19%;
    }
  }

  &__item {
    display: inline-block;
    font-weight: $font-bold;
    position: relative;
    vertical-align: top;

    a {
      display: block;
      position: relative;
      padding: ($gap * 4) ($gap * 2);
      margin: 0 ($gap * 2);
      color: $color-black;
      text-decoration: none;
      text-align: center;
      z-index: 2;

      &:hover {
        color: $color-blue;
      }
    }

    &:first-child:after {
      display: none;
    }

    &:after {
      display: inline-block;
      height: 1px;
      content: " ";
      color: $color-gray-lightest;
      text-shadow: none;
      background-color: $color-gray-light;
      position: absolute;
      top: 11px;
      width: 100%;
      right: 50%;
      border-right: 22px solid transparent;
      border-left: 22px solid transparent;
      background-clip: padding-box;
      z-index: 1;
    }

    &:before {
      content: "";
      display: block;
      text-align: center;
      width: 20px;
      height: 20px;
      border: 1px solid $color-gray;
      border-radius: 100%;
      position: absolute;
      left: 50%;
      margin-left: -10px;
      z-index: 1;
    }

    &--active:before {
      border: 2px solid $color-blue;
    }

    &--complete:before {
      content: url('/static/icons/checkmark.svg');
      background-color: $color-blue;
      border: 2px solid $color-blue;
      font-size: $h6-font-size;
      padding: 1px 2px;
    }

    &--incomplete:before {
      border: 2px solid $color-gray-light;
    }

  }
}