{% from "components/text_input.html" import TextInput %}

{% set title_text = ('fragments.edit_project_form.existing_project_title' | translate({ "project_name": project.name })) if project else ('fragments.edit_project_form.new_project_title' | translate) %}

{{ form.csrf_token }}
<div class="panel">
  <div class="panel__heading panel__heading--grow">
    <h1>{{ title_text }}</h1>
  </div>

  <div class="panel__content">
    <p>
      {{ "fragments.edit_project_form.explain" | translate }}
    </p>
    {{ TextInput(form.name) }}
    {{ TextInput(form.description, paragraph=True) }}
  </div>
</div>
