{% from "components/icon.html" import Icon %}

<p>
  The CCPO will review and respond to your request in 3 business days. You’ll be notified via email or phone. Please note if your request is for over $1M of JEDI cloud resources it will require a manual review by the CCPO.
</p>

<p>
  While your request is being reviewed, your next step is to create a Task Order (TO) associated with the JEDI Cloud. Please contact a Contracting Officer (KO), Contracting Officer Representative (COR), or a Financial Manager to help with this step.
</p>

<div class='alert__actions'>
  <a href='/help' class='icon-link'>
    {{ Icon('help') }}
    Learn more about the JEDI Cloud Task Order and the Financial Verification process.
  </a>
</div>

