{% from "components/icon.html" import Icon %}

<h1>
  Request submitted. Approval pending.
</h1>

<p>
  We will review and respond to your request in 3 business days. You’ll be notified via email or phone.
</p>

<p>
  Your request is being reviewed because:
  <ul>
    <li>
      Your request includes over $1 million for cloud resources
    </li>
    <li>
      We may need more information about your request
    </li>
  </ul>
</p>

<h2>
  Next Steps
</h2>

<p>
  While your request is being reviewed, your next step is to create a Task Order associated with JEDI Cloud. Please contact a Contracting Officer (KO), Contracting Officer Representative (COR), or a Financial Manager to help with this step.
</p>

<p>
  Once the Task Order has been created, you will be asked to provide details about the task order in the Financial Verification step.
</p>

<div class='alert__actions'>
  <a href='/help' class='icon-link'>
    {{ Icon('help') }}
    Learn more about the JEDI Cloud Task Order and the Financial Verification process.
  </a>
</div>
