<div class="panel">
  <div class="panel__content">
    <h2>{{ "fragments.ppoc.title" | translate }}</h2>
    <p>{{ "fragments.ppoc.subtitle" | translate }}</p>

    <p>
      <strong>
        {{ portfolio.owner.first_name }}
        {{ portfolio.owner.last_name }}
      </strong>
      <br />
      {{ portfolio.owner.email }}
      <br />
      {{ portfolio.owner.phone_number | usPhone }}
    </p>

    {% if user_can(permissions.EDIT_PORTFOLIO_POC) %}
      <div class="flex-reverse-row">
        <a class="usa-button-primary">
          {{ "fragments.ppoc.update_btn" | translate }}
        </a>
      </div>
    {% endif %}
  </div>
</div>
