{% extends "audit_log/events/_base.html" %}

{% block content %}
  {% set accepted = event.changed_state.status and event.changed_state.status.1 == "ACCEPTED" %}
  {% if accepted %}
    accepted by {{ event.event_details.email }} (DOD <code>{{ event.event_details.dod_id }}</code>)
    <br>
  {% endif %}
  {% if event.action == "create" %}
    invited {{ event.event_details.email }} (DOD <code>{{ event.event_details.dod_id }}</code>)
    <br>
  {% endif %}
  in Portfolio <code>{{ event.portfolio_id }}</code> ({{ event.portfolio.name }})
{% endblock %}
