# Files to exclude from COPY and ADD commands when 
# building a docker image from this directory

# Exclude Docker build related files
Dockerfile
.dockerignore

# Exclude the git directory and gitignore file
.git
.gitignore

# Skip any existing logs
log/*

# Skip LICENSE, README, etc.
LICENSE
*.md

# Skip envrc
.envrc

# Skip ansible-container stuff
ansible*
container.yml
meta.yml
requirements.yml

# Skip kubernetes and Docker config stuff
deploy
