[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tornado = "==5.0.2"
webassets = "==0.12.1"
Unipath = "==1.1"
wtforms-tornado = "*"
pendulum = "*"
redis = "*"

[dev-packages]
bandit = "*"
pytest = "==3.6.0"
pytest-tornado = "==0.5.0"
ipython = "*"
ipdb = "*"
pylint = "*"
black = "*"

[requires]
python_version = "3.6"
