[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
webassets = "*"
Unipath = "*"
pendulum = "*"
redis = "*"
sqlalchemy = "*"
alembic = "*"
"psycopg2-binary" = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-assets = "*"
flask-session = "*"
flask-wtf = "*"
pyopenssl = "*"
requests = "*"

[dev-packages]
bandit = "*"
pytest = "*"
ipython = "*"
ipdb = "*"
pylint = "*"
black = "*"
pytest-watch = "*"
factory-boy = "*"
pytest-flask = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
