.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

@mixin hide {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hide {
  @include hide;
}

@mixin unhide {
  clip: auto;
  clip-path: none;
  height: auto;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

@mixin line-max {
  max-width: 45em;
}

[v-cloak] {
  display: none
}

@mixin ie-only {
  // Applies to IE 10+
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}
