.nowrap {
  white-space: nowrap;
}

@mixin hide {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hide {
  @include hide;
}

.right {
  float: right;
}

@mixin unhide {
  clip: auto;
  clip-path: none;
  height: auto;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

@mixin line-max {
  max-width: 45em;
}

[v-cloak] {
  display: none;
}

@mixin ie-only {
  // Applies to IE 10+
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}

.section-description {
  font-size: $lead-font-size;
}

.more {
  cursor: pointer;
  margin-left: 1rem;

  .icon {
    width: 1rem;
    margin: 0 0 0 0.5rem;

    svg * {
      fill: $color-blue;
    }

    svg > path {
      transform: translate(0, 5px);
    }
  }
}

.green {
  color: $color-green;
}

.text-danger {
  color: $color-secondary;
}

.user-permission {
  font-weight: $font-normal;
}

p {
  max-width: 80ch;
}

hr {
  border: 0;
  border-bottom: 1px solid $color-gray-light;
  margin: ($gap * 3) ($site-margins * -4);
}
