.nowrap {
  white-space: nowrap;
}

@mixin hide {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hide {
  @include hide;
}

.right {
  float: right;
}

.disabled {
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    background-image: none;
    -ms-word-break: normal;
    word-break: normal;
    padding-right: 3rem;
    padding-left: 1.2rem;
    color: $color-gray;
  }

  select:hover {
    box-shadow: none;
    color: $color-gray;
  }
}

@mixin unhide {
  clip: auto;
  clip-path: none;
  height: auto;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

@mixin line-max {
  max-width: 45em;
}

[v-cloak] {
  display: none;
}

@mixin ie-only {
  // Applies to IE 10+
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}

.green {
  color: $color-green;
}

.user-permission {
  font-weight: $font-normal;
}

.dropdown-row-text {
  padding: 1rem 0;
}
