{% extends "base.html" %}

{% from "components/icon.html" import Icon %}

{% block content %}
  <div class='col'>
    <div class="h2">
      {{ "ccpo.users_title" | translate }}
    </div>

    {% include "fragments/flash.html" %}

    <table>
      <thead>
        <tr>
          <th>{{ "ccpo.name_heading" | translate }}</th>
          <th>{{ "ccpo.email_heading" | translate }}</th>
          <th>{{ "ccpo.dod_id_heading" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.full_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.dod_id }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% if user_can(permissions.CREATE_CCPO_USER) %}
    <a class="icon-link modal-link" href="{{ url_for('ccpo.add_new_ccpo_user')}}">
      {{ "ccpo.add_user" | translate }} {{ Icon("plus") }}
    </a>
  {% endif %}

{% endblock %}
