/*
 * Base Styles
 * @source https://github.com/uswds/uswds/blob/develop/src/stylesheets/core/_base.scss
 */

body {
  background-color: $color-gray-lightest;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;

  > footer {
    margin-top: auto;
  }
}
