{% extends "base.html" %}

{% from "components/icon.html" import Icon %}
{% from "components/text_input.html" import TextInput %}
{% from "components/options_input.html" import OptionsInput %}
{% from "components/selector.html" import Selector %}

{% block content %}

<form method="POST" action="{{ url_for('portfolios.create_member', portfolio_id=portfolio.id) }}" autocomplete="false">
  {{ form.csrf_token }}

  <div class="panel">

    <div class="panel__heading">
      <h1>New Member</h1>
      <div class="subtitle"><h2>Account Details</h2></div>
    </div>

    <div class="panel__content">
      {{ TextInput(form.first_name) }}
      {{ TextInput(form.last_name) }}
      {{ TextInput(form.email,placeholder='jane@mail.mil', validation='email') }}
      {{ TextInput(form.dod_id,placeholder='10-digit number on the back of the CAC', validation='dodId') }}
      {{ Selector(form.portfolio_role) }}
      <table>
        <thead>
          <tr>
            <th>{{ "portfolios.members.permissions.app_mgmt" | translate }}</th>
            <th>{{ "portfolios.members.permissions.funding" | translate }}</th>
            <th>{{ "portfolios.members.permissions.reporting" | translate }}</th>
            <th>{{ "portfolios.members.permissions.portfolio_mgmt" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <td>
            {{ form.perms_app_mgmt() }}
          </td>
          <td>
            {{ form.perms_funding() }}
          </td>
          <td>
            {{ form.perms_reporting() }}
          </td>
          <td>
            {{ form.perms_portfolio_mgmt() }}
          </td>
        </tbody>
      </table>
    </div>
  </div>

  <div class='action-group'>
    <button class="usa-button usa-button-big usa-button-primary" tabindex="0">Add User</button>
    <a href='{{ url_for("portfolios.portfolio_members", portfolio_id=portfolio.id) }}' class='action-group__action icon-link'>
      {{ Icon('x') }}
      <span>Cancel</span>
    </a>
  </div>


</form>




{% endblock %}
