{% from "components/empty_state.html" import EmptyState %}

{% extends "workspaces/base.html" %}

{% block workspace_content %}

{% if not workspace.task_orders %}

  {{ EmptyState(
    'This portfolio doesn’t have any task orders yet.',
    action_label='Add a New Task Order',
    action_href=url_for('task_orders.new', screen=1, workspace_id=workspace.id),
    icon='cloud',
  ) }}

{% else %}

  <ul>
    {% for task_order in workspace.task_orders %}
      <li class='block-list__item'>
        <a href='{{ url_for("workspaces.view_task_order", workspace_id=workspace.id, task_order_id=task_order.id)}}'>
          <span>{{ task_order.start_date }} - {{ task_order.end_date }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>

{% endif %}

{% endblock %}
