{% extends "base.html" %}

{% block content %}
<div class='col'>
  <table>
    <thead>
      <tr>
        <th>Workspace Name</th>
        <th>Task Order</th>
        <th>Users</th>
      </tr>
    </thead>
    <tbody>
    {% for workspace in workspaces %}
     <tr>
        <td>
          <a class='icon-link icon-link--large' href="/workspaces/{{ workspace.id }}/projects">{{ workspace.name }}</a><br>
        </td>
        <td>
          #{{ workspace.task_order.number }}
        </td>
        <td>
          <span class="label">{{ workspace.user_count }}</span><span class='h6'>Users</span>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

