{% extends "workspaces/base.html" %}

{% from "components/text_input.html" import TextInput %}

{% block workspace_content %}

  <form method="POST" action="{{ url_for('workspaces.edit_project', workspace_id=workspace.id, project_id=project.id) }}">

    {% include "fragments/edit_project_form.html" %}

    <div class="block-list project-list-item">
      <header class="block-list__header block-list__header--grow">
        <h2 class="block-list__title">Application Environments</h2>
        <p>
          Each environment created within an application is an enclave of cloud resources that is logically separated from each other for increased security.
        </p>
      </header>

      <ul>
        {% for environment in project.environments %}
          <li class="block-list__item project-edit__env-list-item">
            <div class="usa-input">
              <label>Environment Name</label>
              <input type="text" value="{{ environment.name }}" readonly />
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="action-group">
      <button class="usa-button usa-button-primary" tabindex="0" type="submit">Update Application</button>
    </div>
  </form>

{% endblock %}
