{% from "components/icon.html" import Icon %}
{% from "components/alert.html" import Alert %}
{% from "components/empty_state.html" import EmptyState %}

{% extends "workspaces/base.html" %}


{% block workspace_content %}

{% if not workspace.projects %}

  {% set can_create_projects = user_can(permissions.ADD_APPLICATION_IN_WORKSPACE) %}

  {{ EmptyState(
    'This workspace doesn’t have any projects yet.',
    action_label='Add a New Project' if can_create_projects else None,
    action_href=url_for('workspaces.new_project', workspace_id=workspace.id) if can_create_projects else None,
    icon='cloud',
    sub_message=None if can_create_projects else 'Please contact your JEDI Cloud workspace administrator to set up a new project.'
  ) }}

{% else %}

  {% for project in workspace.projects %}
    <div class='block-list project-list-item'>
      <header class='block-list__header'>
        <h2 class='block-list__title'>{{ project.name }} ({{ project.environments|length }} environments)</h2>
        <a class='icon-link' href='{{ url_for("workspaces.edit_project", workspace_id=workspace.id, project_id=project.id) }}'>
          {{ Icon('edit') }}
          <span>edit</span>
        </a>
      </header>
      <ul>
        {% for environment in project.environments %}
          <li class='block-list__item project-list-item__environment'>
            <a href='/' target='_blank' rel='noopener noreferrer' class='project-list-item__environment__link'>
              {{ Icon('link') }}
              <span>{{ environment.name }}</span>
            </a>

            <div class='project-list-item__environment__members'>
              <div class='label'>{{ environment.num_users }}</div>
              <span>members</span>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}

{% endif %}

{% endblock %}

