.application-edit__env {
  &-list-item {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    &-block {
      flex-grow: 1;
    }

    &__remover {
      @include icon-link;
      @include icon-link-vertical;
      @include icon-link-color($color-red, $color-red-lightest);

      margin-bottom: 0;
      margin-right: -$gap;
    }

    .usa-input {
      flex-grow: 2;
    }
  }
}

#modal--add-app-mem,
.form-content--app-mem {
  text-align: left;

  .modal__body {
    min-width: 75rem;
  }

  input[type="checkbox"] + label::before {
    margin-left: 0;
  }

  .input__inline-fields {
    text-align: left;

    .usa-input__choices label {
      font-weight: $font-bold;
    }
  }

  .input__inline-fields {
    padding: $gap * 2;
    border: 1px solid $color-gray-lighter;

    &.checked {
      border: 1px solid $color-blue;
    }

    label {
      font-weight: $font-bold;
    }

    p.usa-input__help {
      margin-bottom: 0;
      padding-left: 3rem;
    }
  }

  .application-member__user-info {
    .usa-input {
      width: 45rem;

      input,
      label,
      .usa-input__message {
        max-width: unset;
      }

      label .icon-validation {
        left: unset;
        right: -$gap * 4;
      }

      &--validation--phoneExt {
        width: 18rem;
      }
    }
  }
}

.environment-roles {
  padding: 0 ($gap * 3) ($gap * 3);

  &-new {
    margin-top: 5 * $gap;
    margin-bottom: 8 * $gap;
    text-align: left;

    .usa-input {
      margin: $gap * 2;

      &__title-inline {
        font-weight: $font-bold;
      }

      &__help {
        margin-bottom: 0;
      }

      .env-role__no-access {
        .usa-input__title-inline,
        .usa-input__help {
          color: $color-gray;
        }
      }
    }

    &__head {
      font-weight: $font-bold;
    }

    hr {
      margin: 0.5em 0;
    }
  }

  .form-row {
    margin: 0;
  }
}

.environment-name--gray {
  font-weight: $font-normal;
  color: $color-gray-medium;
}

.application-list-item {
  .usa-button-primary {
    width: $search-button-width * 2;
  }

  .action-group-cancel {
    position: relative;

    .action-group-cancel__action {
      position: absolute;
      right: $search-button-width * 2 + $gap * 2;
      top: -($gap * 8);
    }
  }
}
