.application-list-item {
  &__environment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: ($gap * 1.5) ($gap * 3);

    .usa-input {
      margin: 0;
    }

    &__link {
      @include icon-link;
      @include icon-link-large;
    }

    &__members {
      display: flex;
      flex-direction: row;
      align-items: center;

      span {
        @include h6;
      }
    }
  }

  .list-header {
    margin: (2 * $gap) (5 * $gap);
    padding: inherit;
    overflow: auto;
  }

  .icon-link {
    .icon--info {
      bottom: -1px;
      left: 4px;
    }
  }
}
