.home-layout {
  display: block;
  background-color: $color-white;


  .home-container {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8rem;
    padding-right: $gap * 4;
    padding-left: $gap * 4;

    h1 {
      font-weight: 200;
    }

    h2, h4 {
      color: $color-blue;
    }

    .home-container__logo {
      display: block;
      max-width: 20rem;
      margin: $gap * 2;
    }

    .home-container__list {

      ol {
        list-style: none;
        counter-reset: li;
        color: red;}
      }

    }

  }