.home {
  margin: $gap * 3;
  .sticky-cta {
    margin: -1.6rem -1.6rem 0 -1.6rem;
  }

  &__content {
    margin: 4rem;
    max-width: 900px;

    &--descriptions {
      .col {
        margin-left: $home-pg-icon-width;
        padding: ($gap * 2) ($gap * 4);
        position: relative;

        .icon--home-pg-badge {
          position: absolute;
          left: -$home-pg-icon-width;
          top: $gap * 3;
        }
      }
    }
  }
}

.home-layout {
  display: block;
  background-color: $color-white;

  .home-container {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8rem;
    padding-right: $gap * 4;
    padding-left: $gap * 4;

    @include media($medium-screen) {
      display: flex;
    }

    h1 {
      font-weight: 200;
    }

    h2,
    h3,
    h4 {
      color: $color-primary;
    }

    &__logo {
      margin: $gap * 2;

      img {
        width: 20rem;

        @include media($medium-screen) {
          width: 25rem;
        }
      }
    }

    &__body {
      padding-left: $gap * 2;
    }

    &__list {
      ol {
        list-style: none;
        counter-reset: home-counter;
        padding-left: 0;

        li {
          counter-increment: home-counter;
          position: relative;

          &::before {
            content: counter(home-counter) ". ";
            color: $color-primary;
            font-weight: bold;
            position: absolute;
            left: -2rem;
          }
        }
      }
    }
  }
}
