.member-edit {
  .panel {
    @include shadow-panel;
    margin: $gap;
    padding: 2 * $gap $gap;
  }

  .subheading {
    @include subheading;
  }

  .manage-access {
    padding: 2 * $gap;

    .subtitle {
      font-style: italic;
      font-size: $small-font-size;
      color: $color-gray;
    }
  }

  .application-list-item {
    margin: 2 * $gap 3 * $gap;

    .block-list__header {
      border-top-color: $color-gray-light;
    }
  }

  .search-bar {
    margin: 2 * $gap;
  }
}

.member-card {
  @include grid-row;
  padding: $gap*2;
  justify-content: space-between;

  .member-card__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .member-card__heading {
    margin: 0;
    @include h2;
  }

  .member-card__input {
    margin: 0;
    display: flex;
    margin-top: $gap;
    fieldset {
      margin: 0;
    }

    legend {
      flex: none;
      margin-top: $gap*1.5;
      margin-right: $gap*2;
    }
  }


  .member-card__details {
    text-align: right;

    .icon-link {
      margin: 0 -$gap;
    }

    dl {
      margin: 0;

      > div {
        margin-bottom: $gap;
      }
    }

    dt {
      font-weight: normal;
      color: $color-gray;
    }

    dd {
      display: inline;
    }
  }
}
