.project-list-item {
  .project-list-item__environment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .usa-input {
      margin: 0;
    }

    .project-list-item__environment__link {
      @include icon-link;
      @include icon-link-large;
    }

    .project-list-item__environment__members {
      display: flex;
      flex-direction: row;
      align-items: center;

      span {
        @include h6;
      }
    }
  }
}
