.task-order-get-started {
  text-align: center;
  padding: 4rem 6rem;

  .task-order-get-started__list {
    ul {
      list-style: none;
      margin-top: 0;
      padding: 0;

      li {
        font-weight: bold;
        line-height: 2rem;
      }
    }
  }

  .task-order-help__icon {
    @include icon-size(48);
  }

  .task-order-needs {
    .task-order-needs__list {
      @include media(960px) {
        @include grid-row;
      }

      @include ie-only {
        width: 100%;
        max-width: 100%;

        @include media($large-screen) {
          .col {
            max-width: 33%;
          }
        }
      }

    }
  }

  .task-order-get-started__actions {
    .task-order-get-started__button-row {
      position: relative;

      .icon-link {
        position: absolute;
        left: 50%;
        top: 2.5rem;
        margin-left: -23rem;
      }
    }

    p {
      max-width: 27rem;
    }
  }
}

.task-order-summary {

  .alert .alert__actions {
    margin-top: 2 * $gap;
  }

  .panel {
    width: 100%;
  }

  .label--pending {
    background-color: $color-gold;
  }

  .label--active {
    background-color: $color-green;
  }

  .label--expired {
    background-color: $color-red;
  }

  .task-order-heading {
    align-items: center;
    justify-content: space-between;

    .task-order-heading__name {
      align-items: center;

      label {
        padding: $gap;
      }
    }

    .task-order-heading__value {
      margin: 0 ($gap * 2);
      text-align: right;

      dt {
        font-weight: bold;
      }
      dd {
      }
    }
  }

  .task-order-details {
    flex-grow: 1;
    @include media($xlarge-screen) {
      @include grid-row;
    }
  }

  .task-order-next-steps {
    flex-grow: 1;
    @include media($xlarge-screen) {
      padding-right: $gap;
    }

    @include ie-only {
      width: 100%;
    }

    .task-order-next-steps__step {
      .task-order-next-steps__icon {
        padding: $gap $gap 0 0;
        justify-content: center;
        .complete {
          @include icon-color($color-green);
        }
        .incomplete {
          @include icon-color($color-gray-light);
        }
      }

      .task-order-next-steps__text {
        @include ie-only {
          width: 100%
        }
      }

      .task-order-next-steps__heading {
        h4 {
          margin: $gap $gap 0 0;
        }
      }
      .task-order-next-steps__description {
        font-style: italic;
      }
    }
  }

  .task-order-sidebar {
    min-width: 35rem;

    hr {
      margin: 2rem 0;
    }
  }

  .task-order-document-link {
    .task-order-document-link__icon {
      padding-top: 0.5rem;
    }

    .task-order-document-description {
      padding-left: 3rem;
      font-style: italic;
    }
  }

  .task-order-invitation-status {
    .invited {
      color: $color-green;
      @include icon-color($color-green);
    }
    .uninvited {
      color: $color-red;
      @include icon-color($color-red);
    }

    .task-order-invitation-status__icon {
      padding: 0 0.5rem;
    }
  }
}
