{% extends "base.html" %}

{% block content %}

<div class="col task-order-form">

  {% include 'task_orders/new/menu.html' %}

  {% include "fragments/flash.html" %}

  {% block form_action %}
    {% if from_ko_review %}
      <form method='POST' action="{{ url_for('task_orders.update', screen=current, task_order_id=task_order_id, next=next) }}" autocomplete="off" enctype="multipart/form-data">
    {% endif %}

    {% if task_order_id %}
      <form method='POST' action="{{ url_for('task_orders.new', screen=current, task_order_id=task_order_id) }}" autocomplete="off" enctype="multipart/form-data">
    {% else %}
      <form method='POST' action="{{ url_for('task_orders.update', screen=current, portfolio_id=portfolio_id) }}" autocomplete="off" enctype="multipart/form-data">
    {% endif %}
  {% endblock %}

    <div class="panel">

      <div class="panel__heading">
        <h1 class="task-order-form__heading subheading">
          <div class="h2">Task Order Builder</div>
          {% block heading %}{% endblock %}
        </h1>
      </div>

      <div class="panel__content">

        {{ form.csrf_token }}
        {% block form %}
        form goes here
        {% endblock %}

      </div>

    </div>

    {% block next %}

      <div class='action-group'>
        <input type='submit' class='usa-button usa-button-primary' value='{{ "Save" if from_ko_review else "Save & Continue" }}' />
      </div>

    {% endblock %}

  </form>

</div>

{% endblock %}
