{% extends "base.html" %}

{% from "components/text_input.html" import TextInput %}

{% block content %}

{% include "fragments/flash.html" %}

<form method="POST" action="{{ url_for('task_orders.update', task_order_id=task_order.id) }}" autocomplete="false">
  {{ form.csrf_token }}

  <div class="panel">

    <div class="panel__heading">
      <h1>Task Order</h1>
    </div>

    <div class="panel__content">
      {{ TextInput(form.clin_0001) }}
      {{ TextInput(form.clin_0003) }}
      {{ TextInput(form.clin_1001) }}
      {{ TextInput(form.clin_1003) }}
      {{ TextInput(form.clin_2001) }}
      {{ TextInput(form.clin_2003) }}
    </div>
  </div>

  <div class='action-group'>
    <button type="submit" class="usa-button usa-button-big usa-button-primary" tabindex="0">Save</button>
  </div>

</form>

{% endblock %}
