{% from "components/sticky_cta.html" import StickyCTA %}

{% extends 'portfolios/base.html' %}

{% block portfolio_content %}

  {% call StickyCTA(text="Task order details") %}
    {% if user_can(permissions.EDIT_TASK_ORDER_DETAILS) and not task_order.is_expired %}
      <a href="{{ url_for('task_orders.edit', task_order_id=task_order.id) }}" class="usa-button usa-button-secondary" type="submit">Edit</a>
    {% endif %}
  {% endcall %}

  <div class="task-order">
    {% include "task_orders/fragments/task_order_view.html" %}
  </div>
{% endblock %}
