{% extends "task_orders/builder_base.html" %}

{% from "components/alert.html" import Alert %}
{% from "components/checkbox_input.html" import CheckboxInput %}
{% from 'task_orders/form_header.html' import TOFormStepHeader %}

{% set action = url_for("task_orders.submit_task_order", task_order_id=task_order_id) %}
{% set next_button_text = 'task_orders.form.step_5.next_button' | translate %}
{% set previous_button_link = url_for("task_orders.form_step_four_review", task_order_id=task_order_id) %}
{% set step = "5" %}

{% block to_builder_form_field %}
  {{ TOFormStepHeader('task_orders.form.step_5.description' | translate, to_number=task_order.number) }}
  <div class="task-order__confirmation">
    {{ CheckboxInput(form.signature) }}
    {{ CheckboxInput(form.confirm) }}
  </div>
  <hr>
  <h5>
    {{ "task_orders.sign.acknowledge.title" | translate }}
  </h5>
  <p>
    {{ "task_orders.sign.acknowledge.text" | translate }}
  </p>
{% endblock %}
