{% extends "portfolios/base.html" %}

{% from 'components/icon.html' import Icon %}
{% from "components/sticky_cta.html" import StickyCTA %}
{% from 'components/upload_input.html' import UploadInput %}

{% block portfolio_content %}
  {% if task_order_id %}
    {% set action = url_for("task_orders.upload_pdf", task_order_id=task_order_id) %}
  {% else %}
    {% set action = url_for("task_orders.upload_pdf", portfolio_id=portfolio.id) %}
  {% endif %}

  <base-form inline-template>
    <form id="upload-to-pdf" action='{{ action }}' method="POST" autocomplete="off" enctype="multipart/form-data">
      {{ form.csrf_token }}

      {% call StickyCTA(text=('task_orders.form.sticky_header_text' | translate )) %}
        <span class="action-group">
          <input
            type="submit"
            formaction="{{ action }}"
            tabindex="0"
            :disabled="!changed"
            value="Next: Add TO Number"
            form="upload-to-pdf"
            class="usa-button usa-button-primary">
          <input
            type="button"
            class="usa-button usa-button-secondary"
            tabindex="0"
            value="Previous"
            form="upload-to-pdf"/>
          <a
            href="{{ cancel_url }}"
            class="action-group__action icon-link">
            {{ "common.cancel" | translate }}
          </a>
        </span>
      {% endcall %}

      {% include "fragments/flash.html" %}

      <div class="h3">
        {{ 'task_orders.form.supporting_docs_header' | translate }}
      </div>

      <div class="task-order__pdf-help-text">
        {{ 'task_orders.form.supporting_docs_text' | translate }} {{ Icon('question')}}
      </div>

      {{ UploadInput(form.pdf, watch=True) }}

    </form>
  </base-form>
{% endblock %}
