{% extends "task_orders/builder_base.html" %}

{% from "task_orders/fragments/task_order_view.html" import TaskOrderView %}

{% set action = url_for('task_orders.form_step_five_confirm_signature', task_order_id=task_order_id) %}
{% set previous_button_link = url_for("task_orders.form_step_three_add_clins", task_order_id=task_order_id) %}
{% set step = "4" %}
{% set sticky_cta_text = 'task_orders.form.sticky_header_review_text' | translate %}

{% block next_button %}
  <a
    href="{{ action }}"
    class="usa-button usa-button-primary">
    Next: Confirm
  </a>
{% endblock %}

{% block to_builder_form_field %}
  {{ TaskOrderView(task_order, portfolio, builder_mode=True) }}
{% endblock %}
