{% extends "task_orders/builder_base.html" %}

{% from 'components/icon.html' import Icon %}
{% from "task_orders/form_header.html" import TOFormStepHeader %}
{% from 'components/upload_input.html' import UploadInput %}

{% if task_order_id %}
  {% set action = url_for("task_orders.submit_form_step_one_add_pdf", task_order_id=task_order_id) %}
{% else %}
  {% set action = url_for("task_orders.submit_form_step_one_add_pdf", portfolio_id=portfolio.id) %}
{% endif %}

{% set next_button_text = "Next: Add TO Number" %}
{% set step = "1" %}

{% block to_builder_form_field %}
  {{ TOFormStepHeader('task_orders.form.supporting_docs_header' | translate, 'task_orders.form.supporting_docs_text' | translate) }}
  {{ UploadInput(form.pdf, portfolio.id) }}
{% endblock %}
