{% extends "task_orders/builder_base.html" %}

{% set action = url_for('task_orders.confirm_signature', task_order_id=task_order_id) %}
{% set previous_button_link = url_for("task_orders.add_clins", task_order_id=task_order_id) %}
{% set step = "4" %}

{% block next_button %}
  <a
    href="{{ action }}"
    class="usa-button usa-button-primary">
    Next: Submit Task Order
  </a>
{% endblock %}

{% block to_builder_form_field %}
    {% include "fragments/task_order_review.html" %}
{% endblock %}
