{% from "components/sidenav_item.html" import SidenavItem %}

<div class="global-navigation sidenav {% if workspace %}global-navigation__context--workspace{% endif %}">
  <ul>
    {{ SidenavItem("Requests",
      href="/requests",
      icon="document",
      active=g.matchesPath('/requests'),
      subnav=[
        {"label":"New Request", "href":url_for("requests.requests_form_new", screen=1), "icon": "plus", "active": g.matchesPath('/requests/new')},
      ]
      ) }}

    {% if g.current_user.has_workspaces %}
      {{ SidenavItem("Workspaces", href="/workspaces", icon="cloud", active=g.matchesPath('/workspaces')) }}
    {% endif %}

    {% if g.Authorization.has_atat_permission(g.current_user, g.Permissions.VIEW_AUDIT_LOG) %}
      {{ SidenavItem("Activity History", url_for('atst.activity_history'), icon="time", active=g.matchesPath('/activity-history')) }}
    {% endif %}
  </ul>
</div>
