{% from "components/icon.html" import Icon %}
{% from "components/sidenav_item.html" import SidenavItem %}

<div class="global-navigation">
  <sidenav-toggler v-cloak inline-template>
    <div v-bind:class="{'sidenav-container': isVisible, 'sidenav-container--minimized': !isVisible}">
      <div v-bind:class="{'sidenav': isVisible, 'sidenav--minimized': !isVisible}">
        <div v-bind:class="{'sidenav__header': isVisible, 'sidenav__header--minimized': !isVisible}" class="row">
          <template v-if="isVisible">
            <span class="sidenav__title col col--grow">My Portfolios</span>
            <a href="#" v-on:click="toggle" class="sidenav__toggle col">
              {{ Icon('angle-double-left-solid', classes="sidenav__toggle-arrows icon--primary") }}
              <span>Hide</span>
            </a>
          </template>
          <template v-else>
            <a href="#" v-on:click="toggle" class="sidenav__toggle col">
              <span>Show</span>
              {{ Icon('angle-double-right-solid', classes="sidenav__toggle-arrows icon--primary") }}
            </a>
          </template>
        </div>
        <ul class="sidenav__list" v-if="isVisible">
          {% for other_portfolio in portfolios|sort(attribute='name') %}
            {{ SidenavItem(other_portfolio.name,
              href=url_for("applications.portfolio_applications", portfolio_id=other_portfolio.id),
              active=(other_portfolio.id | string) == request.view_args.get('portfolio_id')
              ) }}
          {% endfor %}
        </ul>
      </div>
    </div>
  </sidenav-toggler>
</div>
