{% from "components/sidenav_item.html" import SidenavItem %}

<div class="global-navigation sidenav {% if portfolio %}global-navigation__context--portfolio{% endif %}">
  <ul>
    {{ SidenavItem("New Task Order",
      href=url_for("task_orders.get_started"),
      icon="plus",
      active=g.matchesPath('/task_orders/new'),
      ) }}

    {% if g.current_user.has_portfolios %}
      {{ SidenavItem("Portfolios", href="/portfolios", icon="cloud", active=g.matchesPath('/portfolios')) }}
    {% endif %}

    {% if g.Authorization.has_atat_permission(g.current_user, g.Permissions.VIEW_AUDIT_LOG) %}
      {{ SidenavItem("Activity History", url_for('atst.activity_history'), icon="time", active=g.matchesPath('/activity-history')) }}
    {% endif %}
  </ul>
</div>
