{% from "components/sidenav_item.html" import SidenavItem %}

<nav class='sidenav workspace-navigation'>
  <ul>
    {{ SidenavItem(
      ("navigation.workspace_navigation.applications" | translate),
      href=url_for("workspaces.workspace_applications", workspace_id=workspace.id),
      active=request.url_rule.rule.startswith('/workspaces/<workspace_id>/applications'),
      subnav=None if not user_can(permissions.ADD_APPLICATION_IN_WORKSPACE) else [
        {
          "label": ("navigation.workspace_navigation.add_new_application_label" | translate),
          "href": url_for('workspaces.new_application', workspace_id=workspace.id),
          "active": g.matchesPath('\/workspaces\/[A-Za-z0-9-]*\/applications'),
          "icon": "plus"
        }
      ]
    ) }}

    {% if user_can(permissions.VIEW_WORKSPACE_MEMBERS) %}
      {{ SidenavItem(
        ("navigation.workspace_navigation.members" | translate),
        href=url_for("workspaces.workspace_members", workspace_id=workspace.id),
        active=request.url_rule.rule.startswith('/workspaces/<workspace_id>/members'),
        subnav=None if not user_can(permissions.ASSIGN_AND_UNASSIGN_ATAT_ROLE) else [
          {
            "label": ("navigation.workspace_navigation.add_new_member_label" | translate),
            "href": url_for("workspaces.new_member", workspace_id=workspace.id),
            "active": request.url_rule.rule.startswith('/workspaces/<workspace_id>/members/new'),
            "icon": "plus"
          }
        ]
      ) }}
    {% endif %}

    {% if user_can(permissions.VIEW_USAGE_DOLLARS) %}
      {{ SidenavItem(
        ("navigation.workspace_navigation.budget_report" | translate),
        href=url_for("workspaces.workspace_reports", workspace_id=workspace.id),
        active=request.url_rule.rule.startswith('/workspaces/<workspace_id>/reports')
      ) }}
    {% endif %}

    {{ SidenavItem(
      ("navigation.workspace_navigation.task_orders" | translate),
      href=url_for("workspaces.workspace_task_orders", workspace_id=workspace.id),
      active=request.url_rule.rule.startswith('/workspaces/<workspace_id>/task_order'),
      subnav=None
    ) }}

    {% if user_can(permissions.EDIT_WORKSPACE_INFORMATION) %}
      {{ SidenavItem(
        ("navigation.workspace_navigation.workspace_settings" | translate),
        href=url_for("workspaces.workspace", workspace_id=workspace.id),
        active=request.url_rule.rule.startswith('/workspaces/<workspace_id>/edit'),
        subnav=None
      ) }}
    {% endif %}

    {% if user_can(permissions.VIEW_WORKSPACE_AUDIT_LOG) %}
      {{ SidenavItem(
        ("navigation.workspace_navigation.activity_log" | translate),
        href=url_for("workspaces.workspace_activity", workspace_id=workspace.id),
        active=request.url_rule.rule.startswith('/workspaces/<workspace_id>/activity')
      ) }}
    {% endif %}

  </ul>
</nav>
