{% from "components/sidenav_item.html" import SidenavItem %}

<nav class='sidenav workspace-navigation'>
  <ul>
    {{ SidenavItem(
      "Projects",
      href=url_for("workspaces.workspace_projects", workspace_id=workspace.id),
      active=request.url_rule.rule.startswith('/workspaces/<workspace_id>/projects'),
      subnav=[
        {
          "label": "Add New Project",
          "href": url_for('workspaces.new_project', workspace_id=workspace.id),
          "active": g.matchesPath('\/workspaces\/[A-Za-z0-9-]*\/projects'),
          "icon": "plus"
        }
      ]
    ) }}

    {{ SidenavItem(
      "Members",
      href=url_for("workspaces.workspace_members", workspace_id=workspace.id),
      active=request.url_rule.rule.startswith('/workspaces/<workspace_id>/members'),
      subnav=[
        {
          "label": "Add New Member",
          "href": "/member_new",
          "active": g.matchesPath('/workspaces/members/new'),
          "icon": "plus"
        }
      ]
    ) }}

    {{ SidenavItem(
      "Funding & Reports",
      href=url_for("workspaces.workspace_reports", workspace_id=workspace.id),
      active=request.url_rule.rule.startswith('/workspaces/<workspace_id>/reports')
    ) }}
  </ul>
</nav>
