{% extends "portfolios/base.html" %}

{% from "components/sticky_cta.html" import StickyCTA %}

{% block portfolio_header %}
  {% include "portfolios/header.html" %}
  {% if application %}
    {{ StickyCTA(text=application.name, return_link_url=url_for('applications.portfolio_applications', portfolio_id=application.portfolio_id), return_link_text="BACK TO APPLICATIONS") }}
  {% endif %}
{% endblock %}

{% block portfolio_content %}
  <div class='application-content'>
    {% block application_content %}{% endblock %}
  </div>
{% endblock %}
