{% extends "portfolios/applications/base.html" %}

{% from "components/text_input.html" import TextInput %}

{% set secondary_breadcrumb = 'portfolios.applications.existing_application_title' | translate({ "application_name": application.name }) %}

{% block application_content %}

  <div class='subheading'>{{ 'portfolios.applications.settings_heading' | translate }}</div>

  {% include "fragments/edit_application_form.html" %}

  <div class="panel">
    <div class="panel__content">
      <div class="application-list-item">
        <header>
          <h2 class="block-list__title">{{ 'portfolios.applications.environments_heading' | translate }}</h2>
          <p>
            {{ 'portfolios.applications.environments_description' | translate }}
          </p>
        </header>

        <ul>
          {% for environment in application.environments %}
            <li class="application-edit__env-list-item">
              <div class="usa-input input--disabled">
                <label>Environment Name</label>
                <input type="text" disabled value="{{ environment.name }}" readonly />
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
