{% from "components/icon.html" import Icon %}
{% from "components/empty_state.html" import EmptyState %}

{% extends "portfolios/base.html" %}

{% block portfolio_content %}

{% if not portfolio.applications %}

  {% set can_create_applications = user_can(permissions.ADD_APPLICATION_IN_PORTFOLIO) %}

  {{ EmptyState(
    'This portfolio doesn’t have any applications yet.',
    action_label='Add a New Application' if can_create_applications else None,
    action_href=url_for('portfolios.new_application', portfolio_id=portfolio.id) if can_create_applications else None,
    icon='cloud',
    sub_message=None if can_create_applications else 'Please contact your JEDI Cloud portfolio administrator to set up a new application.'
  ) }}

{% else %}

  {% for application in portfolio.applications %}
    <div v-cloak class='block-list application-list-item'>
      <header class='block-list__header'>
        <h2 class='block-list__title'>{{ application.name }} ({{ application.environments|length }} environments)</h2>
        {% if user_can(permissions.RENAME_APPLICATION_IN_PORTFOLIO) %}
          <a class='icon-link' href='{{ url_for("portfolios.edit_application", portfolio_id=portfolio.id, application_id=application.id) }}'>
            {{ Icon('edit') }}
            <span>edit</span>
          </a>
        {% endif %}
      </header>
      <ul>
        {% for environment in application.environments %}
          <li class='block-list__item application-list-item__environment'>
            <a href='{{ url_for("portfolios.access_environment", portfolio_id=portfolio.id, environment_id=environment.id)}}' target='_blank' rel='noopener noreferrer' class='application-list-item__environment__link'>
              {{ Icon('link') }}
              <span>{{ environment.name }}</span>
            </a>

            <div class='application-list-item__environment__members'>
              <div class='label'>{{ environment.num_users }}</div>
              <span>members</span>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}

{% endif %}

{% endblock %}

