{% from "components/icon.html" import Icon %}
{% from "components/empty_state.html" import EmptyState %}

{% extends "portfolios/base.html" %}

{% set can_create_applications = user_can(permissions.CREATE_APPLICATION) %}

{% block portfolio_content %}

<div class='portfolio-applications'>
  {% include "fragments/flash.html" %}
  <div class='portfolio-applications__header row'>
    <div class='portfolio-applications__header--title col col--grow'>Applications</div>
    <div class='portfolio-applications__header--actions col'>
      {% if can_create_applications %}
        <a class='icon-link' href='{{ url_for('applications.new', portfolio_id=portfolio.id) }}'>
          {{ 'portfolios.applications.add_application_text' | translate }}
          {{ Icon("plus", classes="sidenav__link-icon icon--circle") }}
        </a>
      {% endif %}
    </div>
  </div>

  {% if not portfolio.applications %}

    {{ EmptyState(
      'This portfolio doesn’t have any applications yet.',
      action_label='Add a new application' if can_create_applications else None,
      action_href=url_for('applications.new', portfolio_id=portfolio.id) if can_create_applications else None,
      icon='cloud',
      sub_message=None if can_create_applications else 'Please contact your JEDI Cloud portfolio administrator to set up a new application.'
    ) }}

  {% else %}

    <div class='application-list'>
      {% for application in portfolio.applications|sort(attribute='name') %}
        {% set section_name = "application-{}".format(application.id) %}

        <toggler inline-template>
          <div class='accordion application-list-item'>
            <header class='accordion__header row'>
              <div class='col col-grow'>
                <h3 class='icon-link accordion__title' v-on:click="toggleSection('{{ section_name }}')">{{ application.name }}</h3>
                <span class='accordion__description'>{{ application.description }}</span>
                <div class='accordion__actions'>
                  {% if user_can(permissions.VIEW_APPLICATION) %}
                    <a class='icon-link' href='{{ url_for("applications.settings", application_id=application.id) }}'>
                      <span>{{ "portfolios.applications.app_settings_text" | translate }}</span>
                    </a>
                    <div class='separator'></div>
                  {% endif %}
                  {% if user_can(permissions.VIEW_PORTFOLIO_USERS) %}
                  <a
                    href="{{ url_for('applications.team', application_id=application.id) }}"
                    class='icon-link'>
                      <span>{{ "portfolios.applications.team_text" | translate }}</span>
                      <span class='counter'>{{ application.num_users }}</span>
                    </a>
                  {% endif %}
                </div>
              </div>
              <div class='col'>
                <span class='icon-link toggle-link' v-on:click="toggleSection('{{ section_name }}')">
                  <span v-if="selectedSection === '{{ section_name }}'">
                    {{ Icon('minus') }}
                  </span>
                  <span v-else>
                    {{ Icon('plus') }}
                  </span>
                </span>
              </div>
            </header>
            <ul v-show="selectedSection === '{{ section_name }}'">
              {% for environment in application.environments %}
                <li class='accordion__item application-list-item__environment'>
                  <div class='application-list-item__environment__name'>
                    <span>{{ environment.name }}</span>
                  </div>

                  <a href='{{ url_for("applications.access_environment", environment_id=environment.id)}}' target='_blank' rel='noopener noreferrer' class='application-list-item__environment__csp_link icon-link'>
                    <span>{{ "portfolios.applications.csp_console_text" | translate }}</span>
                  </a>

                </li>
              {% endfor %}
            </ul>
          </div>
        </toggler>
      {% endfor %}
    </div>

  {% endif %}

</div>

{% endblock %}
