{% extends "portfolios/applications/base.html" %}

{% from "components/alert.html" import Alert %}
{% from "components/text_input.html" import TextInput %}
{% from "components/icon.html" import Icon %}
{% from "components/modal.html" import Modal %}

{% set secondary_breadcrumb = 'portfolios.applications.existing_application_title' | translate({ "application_name": application.name }) %}

{% block application_content %}

  <div class='subheading'>{{ 'portfolios.applications.settings_heading' | translate }}</div>

  <form method="POST" action="{{ url_for('applications.update', application_id=application.id) }}">
    <div class="panel">
      <div class="panel__content">

        {{ form.csrf_token }}
        <p>
          {{ "fragments.edit_application_form.explain" | translate }}
        </p>
        <div class="form-row">
          <div class="form-col form-col--half">
            {{ TextInput(form.name) }}
          </div>
          <div class="form-col form-col--half">
            {% if user_can(permissions.DELETE_APPLICATION) %}
            <div class="usa-input">
              <label for="delete-application">
                <div class="usa-input__title">
                  &nbsp;
                </div>
              </label>
              <input
                id="delete-application"
                type="button"
                v-on:click="openModal('delete-application')"
                class='usa-button button-danger-outline'
                value="{{ "portfolios.applications.delete.button" | translate }}"
              >
            </div>
            {% endif %}
          </div>
        </div>
        <div class="form-row">
          <div class="form-col form-col--half">
            {{ TextInput(form.description, paragraph=True) }}
          </div>
        </div>

        <div class="application-list-item">
          <header>
            <h2 class="block-list__title">{{ 'portfolios.applications.environments_heading' | translate }}</h2>
            <p>
              {{ 'portfolios.applications.environments_description' | translate }}
            </p>
          </header>

          <ul>
            {% for environment in application.environments %}
              <li class="application-edit__env-list-item">
                <div class="usa-input input--disabled">
                  <label>Environment Name</label>
                  <input type="text" disabled value="{{ environment.name }}" readonly />
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>

      </div>
      <div class="panel__footer">
        <div class="action-group">
          <button class="usa-button usa-button-primary" tabindex="0" type="submit">{{ 'portfolios.applications.update_button_text' | translate }}</button>
        </div>
      </div>
    </div>
  </form>

    <div class="accordion-table responsive-table-wrapper panel">
        {% if user_can(permissions.EDIT_APPLICATION) %}
          {% include "fragments/applications/edit_environments.html" %}
          <div class="panel__footer">
            <div class="action-group">
              <button class="usa-button usa-button-primary" tabindex="0" type="submit">{{ 'portfolios.applications.update_button_text' | translate }}</button>
              <a class='icon-link'>
                {{ "portfolios.applications.add_environment" | translate }}
                {{ Icon('plus-circle-solid') }}
              </a>
            </div>
          </div>
        {% elif user_can(permissions.VIEW_ENVIRONMENT) %}
          {% include "fragments/applications/read_only_environments.html" %}
        {% endif %}

    </div>
  {% if user_can(permissions.DELETE_APPLICATION) %}
    {% call Modal(name="delete-application") %}
      <h1>{{ "portfolios.applications.delete.header" | translate }}</h1>

      {{
        Alert(
          title="portfolios.applications.delete.alert.title" | translate,
          message="portfolios.applications.delete.alert.message" | translate,
          level="warning"
        )
      }}

      <delete-confirmation inline-template>
        <div>
          <div class="usa-input">
            <label for="deleted-text">
              <span class="usa-input__help">
                {{ "common.delete_confirm" | translate }}
              </span>
            </label>
            <input id="deleted-text" v-model="deleteText">
          </div>
          <div class="action-group">
            <form method="POST" action="{{ url_for('applications.delete', application_id=application.id)  }}">
              {{ form.csrf_token }}
              <button class="usa-button button-danger" v-bind:disabled="!valid">
                {{ "portfolios.applications.delete.button" | translate }}
              </button>
            </form>
            <div class="action-group">
              <a v-on:click="deleteText = ''; $root.closeModal('delete-application')" class="action-group__action icon-link icon-link--default">{{ "common.cancel" | translate }}</a>
            </div>
          </div>
        </div>
      </delete-confirmation>
    {% endcall %}
  {% endif %}

{% endblock %}
