{% extends "portfolios/applications/base.html" %}

{% from "components/empty_state.html" import EmptyState %}
{% from "components/icon.html" import Icon %}
{% from "components/toggle_list.html" import ToggleButton, ToggleSection %}

{% set secondary_breadcrumb = 'portfolios.applications.team_settings.title' | translate({ "application_name": application.name }) %}

{% block application_content %}
  {% if not application.members %}
    {% set user_can_invite = user_can(permissions.CREATE_APPLICATION_MEMBER) %}

    {{ EmptyState(
      ("portfolios.applications.team_settings.blank_slate.title" | translate),
      action_label=("portfolios.applications.team_settings.blank_slate.action_label" | translate),
      action_href='#' if user_can_invite else None,
      sub_message=None if user_can_invite else ("portfolios.applications.team_settings.blank_slate.sub_message" | translate),
      icon='avatar'
    ) }}

  {% else %}
    <div class='subheading'>
      {{ 'portfolios.applications.team_settings.subheading' | translate }}
    </div>

    <section class="member-list application-list" id="application-members">
      <div class='responsive-table-wrapper panel'>
        {% if g.matchesPath("application-members") %}
          {% include "fragments/flash.html" %}
        {% endif %}
        <header>
          <div class="responsive-table-wrapper__header">
            <div class="responsive-table-wrapper__title">
              <div class="h3">
                {{ "portfolios.applications.team_settings.section.title" | translate({ "application_name": application.name }) }}
              </div>
            </div>
            <a class='icon-link'>
              {{ Icon('info') }}
              {{ "portfolios.admin.settings_info" | translate }}
            </a>
          </div>
        </header>

        <div class="accordion-table accordion-table-list">
          <div class="accordion-table__head row">
            <div class="col col--grow">
              {{ "common.name" | translate }}
            </div>
            <div class="col col--grow">
              {{ "portfolios.applications.team_settings.section.table.delete_access" | translate }}
            </div>
            <div class="col col--grow">
              {{ "portfolios.applications.team_settings.section.table.environment_management" | translate }}
            </div>
            <div class="col col--grow">
              {{ "portfolios.applications.team_settings.section.table.team_management" | translate }}
            </div>
            <div class="col col--grow">
              &nbsp;
            </div>
          </div>
          <ul class="accordion-table__items">
            {% if user_can(permissions.EDIT_APPLICATION_MEMBER) %}
              {# edit version goes here #}
              {% include "fragments/applications/read_only_team.html" %}
            {% elif user_can(permissions.VIEW_APPLICATION_MEMBER) %}
              {% include "fragments/applications/read_only_team.html" %}
            {% endif %}
          </ul>
        </div>

          <div class="members-table-footer">
            <div class="action-group save">
              {% if user_can(permissions.CREATE_APPLICATION_MEMBER) %}
                {% include "fragments/applications/add_new_application_member.html" %}
              {% endif %}
            </div>
          </div>
        </form>
      </div>
    </section>
  {% endif %}
{% endblock %}
