.float-right {
  float: right;
}

.accordion-table {
  .usa-alert {
    margin: $gap * 2;
    margin-bottom: 0;
  }

  ul {
    padding-left: 0;

    li {
      list-style-type: none;
      margin: 0;
    }
  }

  &__head {
    padding: $gap ($gap * 2);
    font-size: $small-font-size;
    font-weight: 700;
    color: $color-gray;
    background-color: $color-gray-lightest;
    border-bottom: 1px solid $color-gray-lightest;
    border-top: none;
  }

  thead th {
    text-transform: uppercase;
    border-bottom: 1px solid $color-gray-lightest;
    border-top: none;
  }

  th,
  td {
    white-space: nowrap;

    button {
      margin: 0;
    }
  }

  .new-env {
    margin-top: 5rem;
    padding: 0 5rem;
  }

  &__items {
    margin: 0;

    .accordion-table__item {
      font-weight: $font-bold;
      border-bottom: 1px solid $color-gray-lightest;
      padding: $gap 0;

      &:first-child {
        padding-top: 0;
      }

      .icon-link--large {
        padding-top: $gap * 0.5;
        padding-bottom: $gap * 0.5;
      }

      ul {
        margin-top: 0;
        margin-bottom: 0;
        background-color: $color-gray-lightest;

        li {
          border-bottom: 1px solid $color-gray-lighter;
        }
      }
    }

    th,
    td,
    tr {
      border-bottom: 1px dashed $color-gray-lightest;
    }

    th[scope="rowgroup"] {
      position: relative;
    }
  }

  &__item {
    &-content {
      padding: ($gap * 2);

      .usa-input {
        margin: 0;

        .icon-validation {
          left: 135%;
        }
      }

      #name {
        max-width: none;
        border-color: black;
      }

      .usa-alert {
        margin: 2.5rem 0;
      }

      select {
        border: none;
        font-weight: $font-normal;
      }
    }

    &__action-group {
      padding: 1rem 3.2rem;
      background-color: $color-gray-lightest;
      text-align: right;

      button,
      a {
        margin: 0;
        font-size: $small-font-size;
      }

      .icon-link {
        padding-top: 0.5rem;
        float: none;
      }
    }

    &__toggler {
      @include icon-link-color($color-blue, $color-gray-lightest);

      float: right;
      color: $color-blue;
      padding: $gap;

      > span {
        margin-left: auto;
      }

      .icon {
        @include icon-size(12);

        margin-right: $gap;
      }

      .open-indicator {
        position: absolute;
        bottom: 0;
        left: 5 * $gap;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $color-blue-light;
      }
    }

    &-toggle-content {
      margin-top: $gap;

      &__expanded {
        font-size: $small-font-size;
        font-weight: $font-normal;
        background-color: $color-gray-lightest;
        padding: $gap;

        &:last-child {
          border-bottom: none;
        }

        .col--grow {
          font-weight: $font-normal;
        }

        th,
        td {
          .icon-link {
            font-weight: $font-normal;
            font-size: $base-font-size;
          }

          border-bottom: 1px dashed $color-white;
        }

        &_first {
          float: left;
        }

        &-role {
          .icon-link {
            padding: 0;
            vertical-align: text-top;

            .icon {
              margin: 0 0 0 0.25rem;
            }
          }
        }
      }
    }
  }
}

.application-list {
  .accordion-table {
    &__item {
      &__toggler {
        text-align: right;
        padding-right: 0;
        padding-left: 0;
      }

      &-content {
        .icon-link {
          align-items: baseline;
          padding-left: 0;
          padding-right: 0;
          padding-top: 1rem;
          white-space: nowrap;
        }
      }
    }
  }
}
