.audit-log__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  .audit-log__item__timestamp {
    @include small-label;
    width: 6rem;
    flex-shrink: 0;
    margin-right: $gap * 2;

    @include media($medium-screen) {
      width: 12rem;
    }
  }

  .audit-log__item__name {
    margin-top: 0;
    margin-bottom: $gap;
  }
}

.pagination {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.page {
  margin: auto;
  flex-grow: 1;
  max-width: 8%;
}
