.empty-state {
  text-align: center;
  padding: 6rem ($gap * 2) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;

  @include media($medium-screen) {
    padding: 8rem ($gap * 4) 0;
  }

  .icon {
     @include icon-size(50);
     @include icon-color($color-gray-light);
  }

  .empty-state__message {
    @include h2;
    line-height: 1.2;
    max-width: 15em;
    color: $color-gray;

    @include media($large-screen) {
      @include h1;
    }
  }

  .empty-state__sub-message {
    @include h4;
    color: $color-gray;
    max-width: 100%;

    @include media($large-screen) {
      @include h3;
    }
  }
}
