.empty-state {
  padding: $gap * 3;
  max-width: 100%;
  background-color: $color-gray-lightest;
  margin-top: $gap * 5;

  hr {
    margin-left: -$gap * 3;
    margin-right: -$gap * 3;
  }

  &__footer {
    text-align: center;

    a.usa-button {
      width: 60%;
      display: inline-block;
    }
  }
}
