.empty-state {
  text-align: center;
  padding: 5rem ($gap * 2) 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;

  > .icon {
    @include icon-size(50);
    @include icon-color($color-gray-light);
  }

  &__message {
    font-weight: $font-bold;
  }

  &__sub-message {
    @include h4;

    color: $color-gray;
    max-width: 100%;

    @include media($large-screen) {
      @include h3;
    }
  }
}
