.error-page {
  max-width: 475px;
  margin: auto;

  .panel {
    &__heading {
      text-align: center;
      padding: $gap 0;

      hr {
        width: 100%;
        border: 1px solid $color-red;
      }

      h1 {
        margin-bottom: $gap;
      }
    }

    &__body {
      padding: $gap * 2;
      margin: 0;
    }
  }

  .icon {
    @include icon-size(60);
  }

  hr {
    margin-bottom: $gap * 4;
    width: 80%;
    border: 0.5px solid $color-gray-light;
  }
}
