.error-page {
  max-width: 475px;
  margin: auto;

  .panel {
    &__heading {
      text-align: center;
      padding: $gap 0;

      hr {
        border: 1px solid $color-red;
      }

      h1 {
        margin-bottom: $gap;
      }
    }

    &__body {
      padding: $gap * 2;
      margin: 0;

      hr {
        width: 80%;
        margin: auto;
        margin-bottom: $gap * 3;
      }
    }
  }

  .icon {
    @include icon-size(60);
  }
}
