.app-footer {
  background-color: $color-white;
  border-top: 1px solid $color-black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $gap * 1.5;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $footer-height;

  .app-footer__info {
    flex-grow: 1;
    padding-left: 0.8rem;

    .app-footer__info__link {
      margin: (-$gap * 2) (-$gap);

      .icon--footer {
        @include icon-size(16);
        margin: 0rem 0.8rem 0rem 0rem;
      }
    }
  }
}
