#app-root {
  background-color: $color-gray-lightest;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;

  > footer {
    margin-top: auto;
  }

  &.modalOpen {
    overflow-y: hidden;
  }
}

.global-layout {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;

  .global-navigation {
    margin-top: -1px;
  }

  .global-panel-container {
    margin: $gap;
    max-width: $site-max-width;
    overflow-x: hidden;
    flex-grow: 1;

    @include media($medium-screen) {
      margin: $gap * 2;
    }
  }
}
