.global-navigation {
  background-color: $color-white;
  height: auto;

  .sidenav__link {
    padding-right: $gap * 2;

    @include media($large-screen) {
      padding-right: $gap * 2;
    }
  }

  &__context--portfolio {
    .sidenav__link {
      padding-right: $gap;
    }
  }
}
