#app-root {
  background-color: $color-offwhite;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;

  > footer {
    margin-top: auto;
  }
}

.global-layout {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  margin-bottom: $footer-height;

  .global-panel-container {
    margin: $gap;
    max-width: $site-max-width;
    overflow-x: hidden;
    flex-grow: 1;
    -ms-flex-negative: 1;

    @include media($medium-screen) {
      margin: $gap * 2;
    }
  }
}
