html,
body {
  height: 100%;
}

#app-root {
  background-color: $color-offwhite;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;

  > footer {
    margin-top: auto;
  }
}

.global-layout {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  padding-bottom: $footer-height * 2.5;

  .global-panel-container {
    margin: $gap;
    flex-grow: 1;
    -ms-flex-negative: 1;
    top: $usa-banner-height + $topbar-height;
    position: relative;

    @include media($medium-screen) {
      margin: $gap * 2;
      top: $usa-banner-height + $topbar-height;
    }
  }
}
