.member-form {
  text-align: left;
  min-width: 75rem;

  input[type="checkbox"] + label::before {
    margin-left: 0;
  }

  .input__inline-fields {
    text-align: left;

    .usa-input__choices label {
      font-weight: $font-bold;
    }
  }

  .input__inline-fields {
    padding: $gap * 2;
    border: 1px solid $color-gray-lighter;

    &.checked {
      border: 1px solid $color-blue;
    }

    label {
      font-weight: $font-bold;
    }

    p.usa-input__help {
      margin-bottom: 0;
      padding-left: 3rem;
    }
  }

  .user-info {
    .usa-input {
      width: 45rem;

      input,
      label,
      .usa-input__message {
        max-width: unset;
      }

      label .icon-validation {
        left: unset;
        right: -$gap * 4;
      }

      &--validation--phoneExt {
        width: 18rem;
      }
    }
  }
}
