.site-action {
  border-bottom: 1px solid $color-gray-lightest;
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0.25rem;

  a {
    font-size: 1.3rem;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-primary !important;
  }

}
