.sticky-cta {
  margin-left: -$gap * 5;
  margin-right: -$gap * 5;
  z-index: 1;
  background-color: $color-gray-lightest;
  border-top: 1px solid $color-gray-lighter;
  border-bottom: 1px solid $color-gray-lighter;
  padding: 0 $gap * 5 0 $gap * 5;
  box-shadow: $box-shadow;

  @include media($medium-screen) {
    margin-right: -$gap * 5;
  }

  &.js-is-sticky {
    width: calc(100% - 25rem);
    top: $usa-banner-height + $topbar-height;
  }

  .sticky-cta-container {
    display: flex;
    align-items: center;

    .usa-button {
      margin: $gap $gap * 1.5 $gap 0;
      width: 20rem;
      height: 3.2rem;
      font-size: $small-font-size;
    }
  }

  &-text {
    flex-grow: 1;
    display: flex;
    align-items: baseline;
  }
  &-context {
    color: $color-gray;
    margin-left: $gap;
  }

  &-buttons {
    display: flex;

    .action-group {
      margin: 0;

      a.action-group__action.icon-link {
        width: auto;
      }

      input {
        margin: $gap $gap * 1.5 $gap 0;
        width: 19rem;
        height: 3.2rem;
        font-size: $small-font-size;
      }
    }
  }

  &-return-link {
    padding-top: 1.6rem;
    font-size: $small-font-size;
    font-weight: $font-bold;
  }

  &--link {
    font-weight: $font-bold;
  }
}
