.top-message {
    padding: $gap * 2;

    @include panel-margin;
    @include media($medium-screen) {
        padding: $gap * 4;
    }

    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-bottom-color: $color-gray-light;

    .title {
        padding-top: $gap * 2;
        padding-bottom: $gap * 2;
        padding-left: 0;
        padding-right:0;
    }

    .list-title {
        padding-top: $gap * 4;
        font-weight: bold;
    }

    .list {
        padding-left: $gap * 2.5;
        margin-top: 0.5rem;
    }

    .list-item {
        margin-bottom: 0.5rem;
    }
}
