.topbar {
  background-color: $color-blue-darkest;
  border-bottom: 1px solid $color-black;
  height: $topbar-height;
  position: fixed;
  top: $usa-banner-height;
  width: 100%;
  z-index: 10;

  &__navigation {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }

  &__link {
    color: $color-white !important;
    display: inline-flex;
    align-items: center;
    height: $topbar-height;
    padding: 0 ($gap * 2);
    text-decoration: none;

    &-label {
      @include h5;
      text-decoration: underline;
      padding-left: $gap;
      text-decoration: none;
    }

    &-icon {
      margin-left: $gap;

      @include icon-color($color-white);
    }

    &--home {
      padding-left: $gap / 2;
    }

    &:hover {
      background-color: $color-primary-darker;
      color: $color-white;
    }
  }

  &__context {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-end;
  }
}
