.workspace-panel-container {
  @include media($large-screen) {
    @include grid-row;
  }
}

.workspace-navigation {
  @include panel-margin;
  margin-bottom: $gap * 4;

  ul {
    display: flex;
    flex-direction: column;
    li {
      flex-grow: 1;
    }
  }

  @include media($medium-screen) {
    margin-bottom: $gap * 5;
  }

  @include media($large-screen) {
    width: 20rem;
    margin-right: $gap * 2;

    ul {
      display: block;
    }
  }
}
