{% extends "portfolios/base.html" %}

{% from "components/pagination.html" import Pagination %}
{% from "components/icon.html" import Icon %}
{% from "components/text_input.html" import TextInput %}
{% from "components/multi_step_modal_form.html" import MultiStepModalForm %}

{% set secondary_breadcrumb = "navigation.portfolio_navigation.portfolio_admin" | translate %}

{% block portfolio_content %}

  {% include "fragments/flash.html" %}

  <div v-cloak class="portfolio-admin portfolio-content">

    <div class="panel">
      <div class="panel__content">

        {% if user_can(permissions.VIEW_PORTFOLIO_NAME) %}
        <form method="POST" action="{{ url_for('portfolios.edit_portfolio', portfolio_id=portfolio.id) }}" autocomplete="false">
          {{ portfolio_form.csrf_token }}
          <div class='form-row'>
            <div class='form-col form-col--half'>
              {{ TextInput(portfolio_form.name, validation="portfolioName") }}
            </div>

              <div class='edit-portfolio-name action-group'>
                <button type="submit" class="usa-button usa-button-big usa-button-primary" tabindex="0">Save</button>
              </div>
            </div>
              <div class='defense-row'>
                <div>
                  <div class='admin-title'>{{ "forms.task_order.defense_component_label" | translate }}</div>
                  {% if portfolio.defense_component %}
                    <div class='admin-content'>{{ portfolio.defense_component }}</div>
                  {% else %}
                    <div class='admin-content'>{{ "fragments.portfolio_admin.none" | translate }}</div>
                  {% endif %}
                </div>
              </div>
          </form>
        {% endif %}
      </div>
    </div>

    {% if user_can(permissions.VIEW_PORTFOLIO_POC) %}
      {% include "fragments/primary_point_of_contact.html" %}
    {% endif %}

    {% if user_can(permissions.VIEW_PORTFOLIO_USERS) %}
      {% include "fragments/admin/portfolio_members.html" %}
    {% endif %}

    {% if user_can(permissions.VIEW_PORTFOLIO_ACTIVITY_LOG) %}
      {% include "fragments/audit_events_log.html" %}
      {{ Pagination(audit_events, 'portfolios.portfolio_admin', portfolio_id=portfolio.id) }}
    {% endif %}
  </div>
{% endblock %}
