{% from "components/sidenav_item.html" import SidenavItem %}

{% extends "base.html" %}

{% block global_sidenav %}
  <div class="global-navigation sidenav">
    <div class="sidenav__title">Portfolios</div>
    <ul class="sidenav__list--padded">
      {% for other_portfolio in portfolios %}
        {{ SidenavItem(other_portfolio.name,
          href=url_for("portfolios.show_portfolio", portfolio_id=other_portfolio.id),
          active=other_portfolio == portfolio
          ) }}
      {% endfor %}
    </ul>
    <a class="sidenav__link sidenav__link--add" href="{{ url_for("task_orders.get_started") }}" title="Fund a New Portfolio">
      <span class="sidenav__link-label">Fund a New Portfolio</span>
      {{ Icon("plus", classes="sidenav__link-icon") }}
    </a>
  </div>
{% endblock %}

{% block content %}

  <div class='portfolio-panel-container'>
    <div class='col'>
      {% include 'navigation/portfolio_navigation.html' %}
    </div>

    <div class='col col--grow'>
      {% block portfolio_content %}{% endblock %}
    </div>
  </div>

{% endblock %}
