{% from "components/icon.html" import Icon %}

<div class="row portfolio-breadcrumbs">
  <a class="icon-link portfolio-breadcrumbs__home {{ 'icon-link--disabled' if not secondary_breadcrumb }}" href="{{ url_for("portfolios.portfolio_applications", portfolio_id=portfolio.id) }}">
    {{ Icon("home") }}
    <span>
      {{ portfolio.name }} Portfolio
    </span>
  </a>
  <div class="portfolio-breadcrumbs__crumb">
    {% if secondary_breadcrumb %}
      {{ Icon("caret_right", classes="icon--tiny") }}
      <div class="icon-link">
        {{ secondary_breadcrumb }}
      </div>
    {% endif %}
  </div>
</div
>
