{% extends "portfolios/base.html" %}

{% from "components/icon.html" import Icon %}
{% from "components/text_input.html" import TextInput %}

{% set secondary_breadcrumb = "navigation.portfolio_navigation.breadcrumbs.admin" | translate %}

{% block portfolio_content %}

{% include "fragments/flash.html" %}

<form method="POST" action="{{ url_for('portfolios.edit_portfolio', portfolio_id=portfolio.id) }}" autocomplete="false">
  {{ form.csrf_token }}

  <div class="panel">

    <div class="panel__heading">
      <h1>Portfolio Settings</h1>
    </div>

    <div class="panel__content">
      {{ TextInput(form.name, validation="portfolioName") }}
    </div>
  </div>


  <div class='action-group'>
    <button type="submit" class="usa-button usa-button-big usa-button-primary" tabindex="0">Save</button>
    <a href='{{ url_for("portfolios.portfolio_applications", portfolio_id=portfolio.id) }}' class='action-group__action icon-link'>
      {{ Icon('x') }}
      <span>Cancel</span>
    </a>
  </div>


</form>

{% endblock %}
