{% from "components/icon.html" import Icon %}
{% from "components/modal.html" import Modal %}
{% from "components/semi_collapsible_text.html" import SemiCollapsibleText %}
{% from "components/sticky_cta.html" import StickyCTA %}
{% from "components/submit_confirmation.html" import SubmitConfirmation %}
{% from "components/totals_box.html" import TotalsBox %}

{% extends 'portfolios/base.html' %}

{% block portfolio_content %}
  {% set submit_modal_id = "submit-to-1" %}
  {% call Modal(name=submit_modal_id) %}
    {{
      SubmitConfirmation(
        modal_id=submit_modal_id,
        submit_text="Confirm & Submit",
        submit_action=url_for('task_orders.submit_task_order', task_order_id=task_order.id),
        form=signature_form,
        task_order=task_order,
      )
    }}
  {% endcall %}

  {% call StickyCTA(text="Review Funding") %}
      <a href="{{ url_for("task_orders.edit", portfolio_id=portfolio.id) }}" class="usa-button usa-button-secondary" type="submit">Edit</a>
      <a v-on:click="openModal('submit-to-1')" class="usa-button usa-button-primary" type="submit">Submit task order</a>
  {% endcall %}

  <div class="task-order-summary">

    {{ SemiCollapsibleText() }}

    <hr>

  <div class="h1">Review your task order</div>
  <p>Check to make sure the information you entered is correct. After submission, you will confirm this task order was signed by a contracting officer. Thereafter, you will be informed as soon as CCPO completes their review.</p>
  <div class="row">
    <div class="col">
      <div class="h4">Task order number - 10 digit found in your system of record</div>
      <div>{{task_order.number}}</div>

      <hr>

      <div class="h3">Funding summary</div>
      <div>CLIN 1: Unclassified Cloud Services 001</div>
        <table>
          <thead>
            <tr>
              <th>Amount</th>
              <th>Obligated</th>
              <th>PoP Start</th>
              <th>PoP End</th>
              <th>LOA</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>$500,000</td>
              <td>Yes</td>
              <td>9/07/19</td>
              <td>9/07/20</td>
              <td>34820394</td>
            </tr>
          </tbody>
        </table>

      <div>CLIN 2: Unclassified Cloud Services 002</div>
        <table>
          <thead>
            <tr>
              <th>Amount</th>
              <th>Obligated</th>
              <th>PoP Start</th>
              <th>PoP End</th>
              <th>LOA</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>$300,000</td>
              <td>No</td>
              <td>9/08/20</td>
              <td>9/08/21</td>
              <td>q9384751934</td>
            </tr>
          </tbody>
        </table>

      <hr>

      <div class="h3">Supporting document</div>
      <div class="h4">{{ Icon('ok',classes="icon-validation") }}document</div>
    </div>

    {{ TotalsBox(task_order=task_order) }}

  </div>

  </div>
{% endblock %}
