{% from "components/icon.html" import Icon %}
{% from "components/totals_box.html" import TotalsBox %}
{% from "components/semi_collapsible_text.html" import SemiCollapsibleText %}
{% from "components/sticky_cta.html" import StickyCTA %}

{% extends 'portfolios/base.html' %}

{% block portfolio_content %}
  {% call StickyCTA(text="Review Funding") %}
      <a href="{{ url_for("task_orders.edit", portfolio_id=portfolio.id) }}" class="usa-button usa-button-secondary" type="submit">Edit</a>
      <a href="{{ url_for("task_orders.edit", portfolio_id=portfolio.id) }}" class="usa-button usa-button-primary" type="submit">Submit task order</a>
  {% endcall %}

  <div class="task-order-summary">

    {% set description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." %}

    {{ SemiCollapsibleText(paragraph=description) }}

    <hr>

  <div class="h1">Review your task order</div>
  <p>Check to make sure the information you entered is correct. After submission, you will confirm this task order was signed by a contracting officer. Thereafter, you will be informed as soon as CCPO completes their review.</p>
  <div class="row">
    <div class="col">
      <div class="h4">Task order number - 10 digit found in your system of record</div>
      <div>{{task_order.number}}</div>

      <hr>

      <div class="h3">Funding summary</div>
      <div>CLIN 1: Unclassified Cloud Services 001</div>
        <table>
          <thead>
            <tr>
              <th>Amount</th>
              <th>Obligated</th>
              <th>PoP Start</th>
              <th>PoP End</th>
              <th>LOA</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>$500,000</td>
              <td>Yes</td>
              <td>9/07/19</td>
              <td>9/07/20</td>
              <td>34820394</td>
            </tr>
          </tbody>
        </table>

      <div>CLIN 2: Unclassified Cloud Services 002</div>
        <table>
          <thead>
            <tr>
              <th>Amount</th>
              <th>Obligated</th>
              <th>PoP Start</th>
              <th>PoP End</th>
              <th>LOA</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>$300,000</td>
              <td>No</td>
              <td>9/08/20</td>
              <td>9/08/21</td>
              <td>q9384751934</td>
            </tr>
          </tbody>
        </table>

      <hr>

      <div class="h3">Supporting document</div>
      <div class="h4">{{ Icon('ok',classes="icon-validation") }}document</div>
    </div>

    {{ TotalsBox(task_order=task_order) }}

  </div>

  </div>
{% endblock %}
