{% extends "portfolios/base.html" %}

{% set secondary_breadcrumb = "navigation.portfolio_navigation.breadcrumbs.funding" | translate %}

{% from "components/icon.html" import Icon %}

{% block portfolio_content %}

{% macro DocumentLink(title="", link_url="", description="") %}
  {% set disabled = not link_url %}
  <div class="task-order-document-link">
    <div class="row">
      <a {% if not disabled %}href="{{ link_url }}"{% endif %} class="icon-link {{ 'icon-link--disabled' if disabled }}" aria-disabled="{{ 'true' if disabled else 'false' }}">
        <div class="task-order-document-link__icon col">
          <span>{{ Icon("download") }}</span>
        </div>
        <div class="task-order-document-title col">
          {{ title }}
        </div>
      </a>
    </div>
    {% if description %}
      <div class="task-order-document-description">
        {{ description }}
      </div>
    {% endif %}
  </div>
{% endmacro %}


<div class="task-order-summary">
  {% include "fragments/flash.html" %}

  <div class="panel task-order-heading row">
    <div class="panel__content task-order-heading__name row">
      <h2>New Task Order</h2>
      <span class="label label--{{ task_order.status.value.lower() }}">{{ task_order.status.value }}</span>
    </div>
    <div class="task_order-heading__details row">
      <div class="task-order-heading__value col">
        <dt>Started</dt>
        <dd>
          <local-datetime
            timestamp="{{ task_order.time_created }}"
            format="M/D/YYYY">
            </local-datetime>
        </dd>
      </div>
      <div class="task-order-heading__value col">
        <dt>Task order value</dt>
        <dd>{{ task_order.budget | dollars }}</dd>
      </div>
    </div>
  </div>

  <div class="task-order-details">
    <div id="next-steps" class="task-order-next-steps">
      <div class="panel">
        <h3 class="task-order-next-steps__panel-head panel__content">{{ "task_orders.view.whats_next" | translate }}</h3>
      </div>
    </div>
    <div class="task-order-sidebar col">
      <div class="task-order-documents panel">
        <div class="panel__content">
          <h3>Download documents</h3>
          {% set description -%}
            last updated on <local-datetime
              timestamp="{{ task_order.time_updated }}"
              format="M/D/YYYY">
              </local-datetime>
          {%- endset %}
          {% if task_order.pdf %}
            {{ DocumentLink(
              title="Task Order",
              link_url=url_for('task_orders.download_task_order_pdf', task_order_id=task_order.id),
              description=description) }}
          {% else %}
            {{ DocumentLink(
              title="Task Order Draft",
              link_url=to_form_complete and url_for('task_orders.download_summary', task_order_id=task_order.id),
              description=description) }}
          {% endif %}
        </div>
        <hr />
        <div class="panel__content">
          {{ DocumentLink(
            title="Instruction Sheet",
            link_url="#") }}
          {{ DocumentLink(
            title="Market Research",
            link_url="#") }}
        </div>
      </div>
      <div class="task-order-invitations panel">
        <div class="panel__content">
          <div class="task-order-invitations__heading row">
            <h3>Invitations</h3>
            {% if to_form_complete %}
              <a href="#" class="icon-link">
                <span>{{ "common.manage" | translate }}</span>
                {{ Icon("edit") }}
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
