{% extends 'portfolios/base.html' %}

{% from "components/icon.html" import Icon %}
{% from "components/text_input.html" import TextInput %}
{% from "components/multi_checkbox_input.html" import MultiCheckboxInput %}
{% from 'components/save_button.html' import SaveButton %}

{% block content %}

{% include "fragments/flash.html" %}
<div class="task-order-summary">
  <div class="h2">Portfolio Name</div>

  <semi-collapsible-text inline-template>
    <div>
      <div v-bind:class="{ 'semi-collapsed' : !open }">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <a v-on:click='toggle' v-show="!open" class="right">More{{ Icon('caret_down') }}</a>
      <a v-on:click='toggle' v-show="open" class="right">Less{{ Icon('caret_up') }}</a>
    </div>
  </semi-collapsible-text>

  <hr>

<div class="row">
  <div class="col">
    <div class="h1">Review your task order</div>
    <div class="h4">Task order number - 10 digit found in your system of record</div>
    <div>0123456789</div>

    <hr>

    <div class="h3">Funding summary</div>
    <div>CLIN 1</div>
    <div>CLIN 2</div>

    <hr>

    <div class="h3">Supporting document</div>
    <div class="h4">{{ Icon('ok',classes="icon-validation") }}document</div>
  </div>

  <div class="col to-sidebar">
    <div class="h4">Total obligated funds</div>
    <div class="h3">$500,000</div>
    <div>reprehenderit in voluptate velit</div>

    <hr>

    <div class="h4">Total contract amount</div>
    <div class="h3">$800,000</div>

  </div>
</div>

</div>
{% endblock %}
