.action-group {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: $gap * 4;
  margin-bottom: $gap * 4;

  &--tight {
    margin-top: $gap * 2;
  }

  .usa-button,
  a {
    margin: 0 0 0 $gap;

    @include media($medium-screen) {
      margin: 0 0 0 ($gap * 2);
    }
  }

  &:last-child {
    margin-bottom: $gap * 3;
  }

  &__action {
    &--left {
      margin-left: 0 !important;
      margin-right: auto !important;
    }
  }
}

.action-group-footer {
  @extend .action-group;

  &:last-child {
    margin-bottom: 0;
  }
  margin-top: 0;
  margin-bottom: 0;
  padding-top: $gap;
  padding-bottom: $gap;

  position: fixed;
  bottom: $footer-height;
  background: white;
  right: 0;
  padding-right: $gap * 4;
  border-top: 1px solid $color-gray-light;
  width: 100%;
  z-index: 1;
}
