.action-group {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: $gap * 4;

  .usa-button,
  a {
    margin: 0 0 0 ($gap * 2);

    @include media($medium-screen) {
      margin: 0 0 0 ($gap * 4);
    }
  }

  &:last-child {
    margin-bottom: $gap * 3;
  }
}
