/*
 * Buttons
 * @see https://designsystem.digital.gov/components/buttons/
 * @source https://github.com/uswds/uswds/blob/develop/src/stylesheets/elements/_buttons.scss
 */

button,
[type="button"] {
  &:disabled {
    opacity: 0.75;
  }
}

.button-danger {
  background: $color-red;

  &:hover {
    background-color: $color-red-darkest;
  }
}

.button-danger-outline,
input[type="button"].button-danger-outline {
  color: $color-red;
  background-color: $color-white;
  box-shadow: inset 0 0 0 2px $color-red;

  &:hover {
    color: white;
    background-color: $color-red-darkest;
    box-shadow: inset 0 0 0 2px $color-red-darkest;
  }
}
