.card {
  width: 100%;
  box-shadow: $box-shadow-big;
  padding: ($gap * 2) ($gap * 2.5) ($gap * 4) ($gap * 3);
  margin-bottom: 20px;

  &__status {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    height: 55px;
    align-items: center;

    &-spacer {
      flex-grow: 10;
    }
  }

  &__title {
    padding: $gap * 2;
    background-color: $color-gray-lightest;
  }

  &__header h3 {
    margin-top: 0;
  }

  &__body {
    font-size: $small-font-size;
  }

  .label {
    margin-left: 0;
  }

  .datetime {
    font-size: $small-font-size;
  }
}
