/*
 * Labels
 * @see https://designsystem.digital.gov/components/labels/
 * @source https://github.com/uswds/uswds/blob/develop/src/stylesheets/elements/_labels.scss
 */

.label,
.usa-label {
  @include h5;

  display: inline-block;
  height: 2.4rem;
  line-height: 2.4rem;
  color: $color-white;
  background-color: $color-gray;
  vertical-align: middle;
  margin: 0 $gap;
  padding: 0 $gap;
  border-radius: $gap / 3;
  white-space: nowrap;
  text-transform: uppercase;

  &--info {
    background-color: $color-primary;
  }

  &--warning {
    background-color: $color-gold;
  }

  &--error {
    background-color: $color-red;
  }

  &--success {
    background-color: $color-green;
  }

  &--purple {
    background-color: $color-purple;
  }

  &--below {
    margin-left: 0;
  }

  .icon {
    @include icon-color($color-white) @include icon-size(12) margin: 0;
  }
}
