/*
 * Tables
 * @see https://designsystem.digital.gov/components/tables/
 * @source https://github.com/uswds/uswds/blob/develop/src/stylesheets/elements/_table.scss
 */

table.atat-table {
  @include panel-margin;
  min-width: 100%;

  @include ie-only {
    border-collapse: separate;
  }

  background: $color-white;

  th,
  td {
    &.table-cell {
      &--align-right {
        text-align: right;
      }

      &--third {
        width: 33%;
      }
    }
  }

  tbody,
  thead {
    tr {
      th,
      td {
        background: none;
        margin: 0;
        padding: $gap * 2;
        border: 1px solid $color-gray-lighter;
        display: table-cell;
        vertical-align: top;

        &:first-child {
          border-left: none;
        }

        &:last-child {
          border-right: none;
        }
      }
    }
  }

  thead {
    tr {
      th,
      td {
        background-color: $color-gray-lightest;
        padding: 1rem 1.5rem;
        border-top: none;
      }
    }
  }
}

.responsive-table-wrapper {
  overflow-x: auto;

  @include panel-margin;

  table {
    margin-bottom: 0;
  }

  @at-root .panel #{&} {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.fixed-table-wrapper {
  width: 100%;

  table {
    max-width: 100%;
    table-layout: fixed;

    th,
    td {
      white-space: normal;
    }
  }
}
