.global-navigation {
  background-color: $color-white;

  .sidenav__link {
    padding-right: $gap;

    @include media($large-screen) {
      padding-right: $gap * 2;
    }
  }

  .sidenav__link-label {
    @include hide;

    @include media($large-screen) {
      @include unhide;
      padding-left: $gap;
    }
  }

  &.global-navigation__context--workspace {
    .sidenav__link {
      padding-right: $gap;
    }

    .sidenav__link-label {
      @include hide;
    }
  }
}
