
{% extends "applications/base.html" %}

{% from "fragments/members.html" import MemberManagementTemplate %}
{% set secondary_breadcrumb = 'portfolios.applications.new_application_title' | translate %}

{% block portfolio_header %}
  {% include "portfolios/header.html" %}
  {{ StickyCTA(text=('portfolios.applications.new.step_3_header' | translate({"application_name": application.name}) ), context="Step 3 of 3") }}
{% endblock %}

{% block application_content %}
  {% include "fragments/flash.html" %}
  <div class="panel__content">
    <p>
      {{ ('portfolios.applications.new.step_3_description' | translate) }}
    </p>
    <hr>

    {{ MemberManagementTemplate(
      application, 
      members, 
      new_member_form,
      "applications.update_new_application_step_3",
      user_can(permissions.CREATE_APPLICATION_MEMBER)) }}
      
  
      <span class="action-group">
        <a class="usa-button" href="{{ url_for('applications.settings', application_id=application_id) }}">  
          Return to Application Settings
        </a>
        <a class="usa-button usa-button-secondary" href="{{ url_for('applications.view_new_application_step_2', application_id=application.id) }}">
          Previous
        </a>
        <a href="{{ url_for('applications.portfolio_applications', portfolio_id=portfolio.id) }}">
          Cancel
        </a>
      </span>
  </div>
{% endblock %}

