
{% extends "applications/base.html" %}


{% from "applications/fragments/members.html" import MemberManagementTemplate with context %}
{% set secondary_breadcrumb = 'portfolios.applications.new_application_title' | translate %}

{% block portfolio_header %}
  {% include "portfolios/header.html" %}
  {{ StickyCTA(text=('portfolios.applications.new.step_3_header' | translate({"application_name": application.name}) ), context="Step 3 of 3") }}
{% endblock %}

{% block application_content %}
  {% include "fragments/flash.html" %}
  <p>
    {{ ('portfolios.applications.new.step_3_description' | translate) }}
  </p>
  <hr class="panel__break">

  {{ MemberManagementTemplate(
    application,
    members,
    new_member_form,
    "applications.update_new_application_step_3") }}


  <span class="action-group-footer">
    <a class="usa-button" href="{{ url_for('applications.settings', application_id=application_id) }}">
      Return to Application Settings
    </a>
    <a class="usa-button usa-button-secondary" href="{{ url_for('applications.view_new_application_step_2', application_id=application.id) }}">
      Previous
    </a>
    <a href="{{ url_for('applications.portfolio_applications', portfolio_id=portfolio.id) }}">
      Cancel
    </a>
  </span>

{% endblock %}
