{% from "components/icon.html" import Icon %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ "base_public.title_tag" | translate }}{% endblock %}</title>
  {% assets "css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css">
  {% endassets %}
  <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
</head>
<body>

<div id='app-root'>
  {% include 'components/usa_header.html' %}

  {% include 'navigation/topbar.html' %}

  {% block content %}{% endblock %}

  {% include 'footer.html' %}
</div>

{% assets "js_all" %}
  <script src="{{ ASSET_URL }}"></script>
{% endassets %}

</body>
</html>


