<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}JEDI Cloud{% endblock %}</title>
  {% assets "css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css">
  {% endassets %}
  <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
</head>
<body class="{% if g.modalOpen %} modalOpen{% endif %}">

  <div id='app-root'>

    {% block template_vars %}{% endblock %}

    {% include 'navigation/topbar.html' %}

    <div class='global-layout'>
      {% include 'navigation/global_navigation.html' %}

      <div class='global-panel-container'>
        {% block sidenav %}{% endblock %}

        {% block content %}
          these are not the droids you are looking for
        {% endblock %}
      </div>
    </div>

    {% include 'footer.html' %}
    {% block modal %}{% endblock %}

    {% if g.modal %}
      <div data-modal="{{ g.modal }}" id="modalOpen">
      </div>
    {% endif %}
  </div>

  {% assets "js_all" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
</body>
</html>
