{% extends "error_base.html" %}

{% from "components/icon.html" import Icon %}

{% block content %}

<main class="usa-section usa-content error-page">
    <div class="panel__heading">
      {{ Icon('cloud', classes="icon--red icon--large")}}
      <hr>
      <h1>{{ code }} - {{ message }}</h1>
      <p>{{ "errors.not_found_sub" | translate }}</p>
    </div>
    <hr>
    <div class="panel__body">
      <p>
        {{ "common.lorem" | translate }}
      </p>
      <p>
        <a href="#">More lorem</a>
      </p>
    </div>
</main>

{% endblock %}
