{% extends "base.html" %}

{% block content %}


<h1>JEDI Cloud</h1>
<h1 class="subtitle">Joint Enterprise Defense Infrastructure</h1>

<h2>What is JEDI Cloud?</h2>

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


<h2>Benefits of JEDI Cloud</h2>

<ul>
  <li>
    <b>Benefit 1</b>: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur architecto reprehenderit explicabo maxime natus dolores, accusamus, quis est fugit rerum praesentium blanditiis temporibus. Veniam sapiente iure non rerum, veritatis tempore.
  </li>
  <li>
    <b>Benefit 2</b>: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dolor laudantium, minus quas vel sint reprehenderit voluptatum odit numquam itaque velit a deserunt! Dolor eum assumenda cupiditate doloribus, earum dolore.
  </li>
  <li>
    <b>Benefit 3</b>: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus facere dolorem commodi iste tempora quaerat! Magnam, molestias, reprehenderit? Voluptatem corrupti illum beatae, odio asperiores atque distinctio dolores odit suscipit ipsum.
  </li>
  <li>
    <b>Benefit 4</b>: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, voluptatibus culpa fuga voluptate consequuntur eius ipsam quae cumque officia? Porro ex autem magnam ut qui, sapiente voluptates, maxime eum rem!
  </li>
</ul>


<h2>Technical Specifications</h2>

<p>Learn more about the <a class="icon-link" href="#">security and technical capabilities of JEDI Cloud.</a></p>

<h2>Steps to use JEDI Cloud</h2>

<ol>
  <li>
    <h4>Complete a JEDI Cloud access request</h4>
    A JEDI Cloud Access Request will inform the the Cloud Computing Program Office (CCPO) about how you intend to use commercial cloud services. Any DoD employee with a CAC may initiate this request.
    <a class="icon-link" href="#">Start Request</a>
  </li>

  <li>
    <h4>Prepare a Task Order</h4>
    After the initial access request, you will need to work with a contracting officer to prepare a Task Order (T.O.) against the JEDI Cloud contract vehicle. The JEDI Cloud is offered to the Department of Defense through the Indefinite Delivery/Indefinite Quantity contract vehicle which allows for organizations to quickly order commercial cloud services through a Task Order.

    After issuing a Task Order, you must enter the TO information into the JEDI Cloud Access Request, along with program specific questions, so that we can verify your financial resources to use the commercial cloud.

    Through each checkpoint, the CCPO either automatically approve your access or will let you know of any issues.
  </li>
  <li>
    <h4>Designate a Technical Point of Contact</h4>
    Once your request is approved, you may appoint a technical point of contact (technical POC) to manage your JEDI Workspace.

    In the JEDI Workspace, a Technical Point of Contact will be able to:
    <ol>
      <li>Organize your cloud resources into discreet projects and environments</li>
      <li>Add and manage user roles and access</li>
      <li>Access the commercial cloud console</li>
    </ol>

    JEDI Workspaces are administered outside the commercial cloud environment through a tool called Account Tracking and Automation Tool (AT-AT).
  </li>

  <li>
    <h4>Use JEDI Cloud</h4>
    Users added to the JEDI Workspace will then be gain access to the commercial cloud console through AT-AT.
  </li>

</ol>



{% endblock %}



