{% extends "base.html" %}

{% block content %}

<section class="usa-banner site-banner">
<div class="usa-grid usa-banner-inner">
  <img src="/assets/img/us_flag.png" alt="U.S. flag">
  <p>An official website of the United States government</p>
  <button class="usa-accordion-button usa-banner-button" aria-expanded="false" aria-controls="gov-banner">
    <span class="usa-banner-button-text">Here’s how you know</span>
  </button>
</div>
</section>

<section class="usa-hero">
  <div class="usa-grid">
    <div class="usa-hero-callout usa-section-dark">
      <h2><span class="usa-hero-callout-alt">Joint Enterprise Defense Infrastructure (JEDI) Cloud</span></h2>
      <p>JEDI Cloud is an enterprise-level acquisition of commercial infrastructure as a service (IaaS) and platform as a service (PaaS) offerings to support DoD business and mission operations.</p>
    </div>
  </div>
</section>

<section>

  <h2>Benefits of JEDI Cloud</h2>


  <div class="row">
    <div class="col col--grow">
      <h3>Benefit 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur architecto reprehenderit explicabo maxime natus dolores, accusamus, quis est fugit rerum praesentium blanditiis temporibus. Veniam sapiente iure non rerum, veritatis tempore.</p>
    </div>
    <div class="col col--grow">
      <h3>Benefit 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur architecto reprehenderit explicabo maxime natus dolores, accusamus, quis est fugit rerum praesentium blanditiis temporibus. Veniam sapiente iure non rerum, veritatis tempore.</p>
    </div>
  </div>
  <div class="row">
    <div class="col col--grow">
      <h3>Benefit 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur architecto reprehenderit explicabo maxime natus dolores, accusamus, quis est fugit rerum praesentium blanditiis temporibus. Veniam sapiente iure non rerum, veritatis tempore.</p>
    </div>
    <div class="col col--grow">
      <h3>Benefit 4</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur architecto reprehenderit explicabo maxime natus dolores, accusamus, quis est fugit rerum praesentium blanditiis temporibus. Veniam sapiente iure non rerum, veritatis tempore.</p>
    </div>
  </div>

</section>

<section>
  <h2>Technical Specifications</h2>

  <p>Learn more about the <a class="icon-link" href="#">security and technical capabilities of JEDI Cloud.</a></p>
</section>

<section>

  <h2>Steps to use JEDI Cloud</h2>

  <ol>
    <li>
      <h4>Complete a JEDI Cloud access request</h4>
      A JEDI Cloud Access Request will inform the the Cloud Computing Program Office (CCPO) about how you intend to use commercial cloud services. Any DoD employee with a CAC may initiate this request.
      <a class="icon-link" href="#">Start Request</a>
    </li>

    <li>
      <h4>Prepare a Task Order</h4>
      After the initial access request, you will need to work with a contracting officer to prepare a Task Order (T.O.) against the JEDI Cloud contract vehicle. The JEDI Cloud is offered to the Department of Defense through the Indefinite Delivery/Indefinite Quantity contract vehicle which allows for organizations to quickly order commercial cloud services through a Task Order.

      After issuing a Task Order, you must enter the TO information into the JEDI Cloud Access Request, along with program specific questions, so that we can verify your financial resources to use the commercial cloud.

      Through each checkpoint, the CCPO either automatically approve your access or will let you know of any issues.
    </li>
    <li>
      <h4>Designate a Technical Point of Contact</h4>
      Once your request is approved, you may appoint a technical point of contact (technical POC) to manage your JEDI Workspace.

      In the JEDI Workspace, a Technical Point of Contact will be able to:
      <ol>
        <li>Organize your cloud resources into discreet projects and environments</li>
        <li>Add and manage user roles and access</li>
        <li>Access the commercial cloud console</li>
      </ol>

      JEDI Workspaces are administered outside the commercial cloud environment through a tool called Account Tracking and Automation Tool (AT-AT).
    </li>

    <li>
      <h4>Use JEDI Cloud</h4>
      Users added to the JEDI Workspace will then be gain access to the commercial cloud console through AT-AT.
    </li>

  </ol>

</section>


{% endblock %}



