{% from "components/alert.html" import Alert %}

{% extends "base_public.html" %}

{% block title %}{{ "login.title_tag" | translate }}{% endblock %}

{% block content %}

  <div class='global-layout login-layout'>
    <div class='global-panel-container login-container'>
      <div class='col'>

        <div class='login-banner'>

          {% with %}
            {% set category_filter=["error"] %}
            {% include "fragments/flash.html" %}
          {% endwith %}

          <h1 class="login-banner__heading">{{ "login.h1_title" | translate }}</h1>

          <img class="login-banner__logo" src="{{url_for('static', filename='img/ccpo-logo.svg')}}" alt="{{ "login.ccpo_logo_alt_text" | translate }}">

          <a class="usa-button usa-button-big login-banner__button" href='{{ redirect_url }}'>
            <span>
              {{ "login.login_button" | translate }}
            </span>
          </a>
        </div>

        {% with %}
          {% set category_filter=["success", "info", "warning"] %}
          {% include "fragments/flash.html" %}
        {% endwith %}

        {{ Alert(("login.certificate_selection.title" | translate),
          message=("login.certificate_selection.message" | translate),
          actions=[
            {
              'label': ("login.certificate_selection.learn_more" | translate),
              'icon': 'help',
              'href': '/help'
            }
          ]
        ) }}

      </div>
    </div>
  </div>

{% endblock %}


