{% extends "base.html" %}

{% from "components/icon.html" import Icon %}
{% from "components/alert.html" import Alert %}

{% block content %}

<article class='col col--grow request-approval'>

  <form>
    <section class='panel'>
      <header class='panel__heading request-approval__heading'>
        <h1 class='h2'>Request #1234567890</h1>
        <span class='label label--info'>Pending</span>
      </header>

      <div class='panel__content'>

        <p>Ongoing maintainence for Death Star (a moon-sized Imperial military battlestation armed with a planet-destroying superlaser). Its definitely hasn't been sabotaged from the start.</p>

        {% with data = {
            "primary_poc": {
                "am_poc": False,
                "dodid_poc": "1234567890",
                "email_poc": "fake@email.com",
                "fname_poc": "Amanda",
                "lname_poc": "Adamson",
            },
            "details_of_use": {
                "jedi_usage": "adf",
                "start_date": "2018-08-08",
                "cloud_native": "yes",
                "dollar_value": 500000,
                "dod_component": "Air Force, Department of the",
                "data_transfers": "Less than 100GB",
                "expected_completion_date": "Less than 1 month",
                "jedi_migration": "yes",
                "num_software_systems": 1,
                "number_user_sessions": 2,
                "average_daily_traffic": 1,
                "engineering_assessment": "yes",
                "technical_support_team": "yes",
                "estimated_monthly_spend": 100,
                "average_daily_traffic_gb": 4,
                "rationalization_software_systems": "yes",
                "organization_providing_assistance": "In-house staff",
            },
            "information_about_you": {
                "citizenship": "United States",
                "designation": "military",
                "phone_number": "1234567890",
                "email_request": "fake@email.mil",
                "fname_request": "Amanda",
                "lname_request": "Adamson",
                "service_branch": "Air Force, Department of the",
                "date_latest_training": "2018-08-06",
            }
          }, service_branches=service_branches %}
          {% include "requests/_review.html" %}
        {% endwith %}

      </div>

    </section>

    <section class='panel'>
      <header class='panel__heading'>
        <h2 class='h3'>Approval Notes</h2>
      </header>

      <div class='panel__content'>

        <div class="form__sub-fields">

          <h3>Comments to Requestor</h3>

          You may leave a comment for the requestor explaining what changes are being requested or why further discussion is needed about this request. The requestor can then re-submit the request with your changes requested or may initiate an offline message (via email) to respond to the CCPO directly. <br> This notes are optional and <b>will be visible to requestors</b>.

          <div class='usa-input'>
            <label for='notes'>Comments <em>(optional)</em></label>
            <textarea id='notes' placeholder='Add notes or comments explaining what changes are being requested or why further discussion is needed about this request.'/></textarea>
          </div>


        </div>

        <div class="form-row">
          <div class="form-col">
            <h3>Authorizing Officials</h3>
            <p>This section is not visible to the requestor. It will only be visible to CCPO staff.</p>
            <p>Provide the name of the key officials for both parties that have authorized this request to move forward.</p>
          </div>
        </div>
        <h4 class="h3">Mission Authorizing Official</h4>

        <div class='form-row'>
          <div class='form-col'>

            <div class='usa-input'>
              <label for='mo-behalf-fname'>First Name</label>
              <input id='mo-behalf-fname' type='text' placeholder='First name of mission authorizing official' tabindex='1' />
            </div>

            <div class='usa-input'>
              <label for='mo-behalf-email'>Mission Owner e-mail</label>
              <input id='mo-behalf-email' type='email' placeholder='i.e. name@mail.mil' tabindex='3'/>
            </div>

          </div>


          <div class='form-col'>

            <div class='usa-input'>
              <label for='mo-behalf-lname'>Last Name</label>
              <input id='mo-behalf-lname' type='text' placeholder='Last name of mission authorizing official' tabindex='2'/>
            </div>

            <div class='usa-input'>
              <label for='mo-behalf-phone'>Mission Owner phone number</label>
              <input id='mo-behalf-phone' type='tel' placeholder='i.e. (123) 456-7890' tabindex='4'/>
            </div>

          </div>

        </div>


        <h4 class="h3">CCPO Authorizing Official</h4>

        <div class="form-row">
          <div class="form-col">

            <div class='usa-input'>
              <label for='ccpo-behalf-fname'>First Name</label>
              <input id='ccpo-behalf-fname' type='text' placeholder='Name of approving officer' tabindex='5' />
            </div>

          </div>

          <div class="form-col">

            <div class='usa-input'>
              <label for='ccpo-behalf-lname'>Last Name</label>
              <input id='ccpo-behalf-lname' type='text' placeholder='Name of approving officer' tabindex='6' />
            </div>

          </div>
        </div>

      </div>


    </section>

    <section class='action-group'>
      <a href='#' class='usa-button usa-button-big'>Approve Request</a>
      <a href='#' class='usa-button usa-button-big usa-button-secondary'>Mark as Changes Requested</a>
      <a href='#' class='icon-link'>
        {{ Icon('x') }}
        <span>Cancel</span>
      </a>
    </section>

    <section class='panel'>
      <header class='panel__heading'>
        <h2 class='h3 request-approval__columns__heading'>Approval Log</h2>
      </header>
      <div>
        <div class='approval-log'>
          <ol>
            <li>
              <article class='approval-log__log-item'>
                <div>
                  <h3 class='approval-log__log-item__header'>Denied by Darth Vader</h3>
                  <p>"You have failed me for the last time, Admiral. Captain Piett. Yes, my lord. Make ready to land out troops beyond the energy shield and deploy the fleet so that nothing gets off that system."</p>

                  <div class='approval-log__behalfs'>
                    <div class='approval-log__behalf'>
                      <h3 class='approval-log__log-item__header'>Mission Owner approval on behalf of:</h3>
                      <span>Grand Moff Tarkin</span>
                      <span>tarkin@empire.mil</span>
                      <span>(234) 567-8901</span>
                    </div>

                    <div class='approval-log__behalf'>
                      <h3 class='approval-log__log-item__header'>CCPO approval on behalf of:</h3>
                      <span>Emperor Palpatine</span>
                      <span>palpatine@empire.mil</span>
                      <span>(345) 678-9012</span>
                    </div>
                  </div>
                </div>

                <footer class='approval-log__log-item__timestamp'><time datetime='2018-07-02 04:23:02 EST'>2018-07-02 04:23:02 EST</time></footer>
              </article>
            </li>


            <li>
              <article class='approval-log__log-item'>
                <div>
                  <h3 class='approval-log__log-item__header'>Denied by Darth Vader</h3>
                  <p>"You have failed me for the last time, Admiral. Captain Piett. Yes, my lord. Make ready to land out troops beyond the energy shield and deploy the fleet so that nothing gets off that system."</p>

                  <div class='approval-log__behalfs'>
                    <div class='approval-log__behalf'>
                      <h3 class='approval-log__log-item__header'>Mission Owner approval on behalf of:</h3>
                      <span>Grand Moff Tarkin</span>
                      <span>tarkin@empire.mil</span>
                      <span>(234) 567-8901</span>
                    </div>

                    <div class='approval-log__behalf'>
                      <h3 class='approval-log__log-item__header'>CCPO approval on behalf of:</h3>
                      <span>Emperor Palpatine</span>
                      <span>palpatine@empire.mil</span>
                      <span>(345) 678-9012</span>
                    </div>
                  </div>
                </div>

                <footer class='approval-log__log-item__timestamp'><time datetime='2018-07-02 04:23:02 EST'>2018-07-02 04:23:02 EST</time></footer>
              </article>
            </li>
          </ol>
        </div>
      </div>
    </section>

  </form>
</article>

{% endblock %}

