{% from "components/icon.html" import Icon %}
{% from "components/modal.html" import Modal %}
{% from "components/text_input.html" import TextInput %}
{% from "components/tooltip.html" import Tooltip %}
{% from "components/alert.html" import Alert %}

{% extends "base_workspace.html" %}

{% block workspace_content %}

{% set modalName = "newProjectConfirmation" %}
{% if request.args.get("newWorkspace") %}
  {{ Alert('Workspace created!',
    message="\
      <p>You are now ready to create projects and environments within the JEDI Cloud.</p>
    ",
    level='success'
  ) }}
{% endif %}

<new-project inline-template v-bind:initial-data='{{ form.data|tojson }}'>
  <form method="POST" action="{{ url_for('workspaces.update_project', workspace_id=workspace.id) }}" >
    {% call Modal(name=modalName, dismissable=False) %}
      <h1>Create project !{ name }</h1>

      <p>
      When you click <em>Create Project</em>, the environments
      <span v-for="(environment, index) in environments">
        <strong>!{environment.name}</strong><template v-if="index < (environments.length - 1)">, </template>
      </span>
      will be created as individual cloud resource groups under <strong>!{ name }</strong> project.
      </p>

      <div class='action-group'>
        <button type='submit' class='action-group__action usa-button'>Create Project</button>
        <a v-on:click="closeModal('{{ modalName }}')" class='action-group__action'>Cancel</a>
      </div>
    {% endcall %}

    {{ form.csrf_token }}
    <div class="panel">
      <div class="panel__heading panel__heading--grow">
        <h1>Add a new project</h1>
      </div>

      <div class="panel__content">
        <p>
          AT-AT allows you to organize your workspace into multiple projects, each of which may have environments.
        </p>
        {{ TextInput(form.name) }}
        {{ TextInput(form.description, paragraph=True) }}
      </div>
    </div>

    {% if form.environment_names.errors %}
      {% for error in form.environment_names.errors %}
        {{ Alert(error, level="error") }}
      {% endfor %}
    {% endif %}

      <div class="block-list project-list-item">
        <header class="block-list__header block-list__header--grow">
          <h2 class="block-list__title">Project Environments</h2>
          <p>
            Each environment created within a project is an enclave of cloud resources that is logically separated from each other for increased security.
          </p>
        </header>

        <ul>
          <li v-for="(environment, i) in environments" class="block-list__item project-edit__env-list-item">
            <div class="usa-input">
              <label :for="'environment_names-' + i">Environment Name</label>
              <input type="text" :name="'environment_names-' + i" :id="'environment_names-' + i" v-model="environment.name">
            </div>
            <button v-on:click="removeEnvironment(i)" v-if="environments.length > 1" type="button" class='project-edit__env-list-item__remover'>
              {{ Icon('trash') }}
              <span>Remove</span>
            </button>
          </li>
        </ul>

        <div class="block-list__footer">
          <a v-on:click="addEnvironment" class="icon-link">Add another environment</a>
        </div>
      </div>


      <div class="action-group">
        <div v-on:click="openModal('{{ modalName }}')" class="usa-button usa-button-primary">Create Project</div>
      </div>

    </div>

  </form>
</new-project>
{% endblock %}
