{% from "components/confirmation_button.html" import ConfirmationButton %}

{% for subform in member_perms_form.members_permissions %}
  {% set modal_id = "portfolio_id_{}_user_id_{}".format(portfolio.id, subform.user_id.data) %}

  <tr>
    <td class='name'>{{ subform.member.data }}
      {% if subform.member.data == user.full_name %}
        <span class='you'>(<span class='green'>you</span>)</span>
        {% set archive_button_class = 'usa-button-disabled' %}
      {% else %}
        {% set archive_button_class = 'usa-button-secondary' %}
      {% endif %}
    </td>

    <td>{{ OptionsInput(subform.perms_app_mgmt, label=False) }}</td>
    <td>{{ OptionsInput(subform.perms_funding, label=False) }}</td>
    <td>{{ OptionsInput(subform.perms_reporting, label=False) }}</td>
    <td>{{ OptionsInput(subform.perms_portfolio_mgmt, label=False) }}</td>

    <td>
      <a v-on:click="openModal('{{ modal_id }}')" class='usa-button {{ archive_button_class }}'>
        {{ "portfolios.members.archive_button" | translate }}
      </a>
    </td>
    {{ subform.user_id() }}
  </tr>
{% endfor %}
