{% macro Page(pagination, url, i, label=None, disabled=False) -%}
  {% set label = label or i %}

  {% set button_class = "page usa-button " %}

  {% if disabled %}
    {% set button_class = button_class + "usa-button-disabled" %}
  {% elif i == pagination.page %}
    {% set button_class = button_class + "usa-button-primary" %}
  {% else %}
    {% set button_class = button_class + "usa-button-secondary" %}
  {% endif %}

    <a id="{{ label }}" type="button" class="{{ button_class }}" href="{{ url if not disabled else 'null' }}">{{ label }}</a>
{%- endmacro %}

{% macro Pagination(pagination, url) -%}

  <div class="pagination">

    {% if pagination.page == 1 %}
      {{ Page(pagination, url, 1, label="first", disabled=True) }}
      {{ Page(pagination, url, pagination.page - 1, label="prev", disabled=True) }}
    {% else %}
      {{ Page(pagination, url, 1, label="first") }}
      {{ Page(pagination, url, pagination.page - 1, label="prev") }}
    {% endif %}

    {% if pagination.page == 1 %}
      {% set max_page = [pagination.pages, 5] | min %}
      {% for i in range(1, max_page + 1) %}
        {{ Page(pagination, url, i) }}
      {% endfor %}
    {% elif pagination.page == pagination.pages %}
      {% for i in range(pagination.pages - 4, pagination.pages + 1) %}
        {% if i > 0 %}
          {{ Page(pagination, url, i) }}
        {% endif %}
      {% endfor %}
    {% else %}
      {% set window = pagination | pageWindow %}
      {% for i in range(window.0, window.1 + 1) %}
        {{ Page(pagination, url, i) }}
      {% endfor %}
    {% endif %}

    {% if pagination.page == pagination.pages %}
      {{ Page(pagination, url, pagination.page + 1, label="next", disabled=True) }}
      {{ Page(pagination, url, pagination.pages, label="last", disabled=True) }}
    {% else %}
      {{ Page(pagination, url, pagination.page + 1, label="next") }}
      {{ Page(pagination, url, pagination.pages, label="last") }}
    {% endif %}

  </div>
{%- endmacro %}
