{% macro SaveButton(text="common.save" | translate, element="button", additional_classes="", form=None) -%}
  {% set class = "usa-button usa-button-primary " + additional_classes %}

  {% if element == "button" %}
    <button type="submit" class="{{ class }}" tabindex="0" v-bind:disabled="!canSave" {{ form_attr }} >
      {{ text }}
    </button>
  {% elif element == 'input' %}
    <input type="submit" class="{{ class }}" tabindex="0" v-bind:disabled="!canSave" value='{{ text }}' {% if form %}form="{{ form }}"{% endif %} />
  {% endif %}
{%- endmacro %}
