{% from 'components/icon.html' import Icon %}

{% macro StickyCTA(text, context=None, return_link_url=None, return_link_text=None) -%}
  <div class="sticky-cta" v-sticky='{ "stickyBitStickyOffset": 76 }'>
    {% if return_link_url and return_link_text %}
    <div class="sticky-cta-return-link">
      <a href="{{ return_link_url }}">
        {{ Icon('caret_left', classes="icon--tiny icon--blue") }} {{ return_link_text}}
      </a>
    </div>
    {% endif %}
    <div class="sticky-cta-container">
      <div class="sticky-cta-text">
        <h3>{{ text }}</h3>
        {% if context %}
        <span class="sticky-cta-context"> {{ context }} </span>
        {% endif %}
      </div>
      {% if caller %}
      <div class="sticky-cta-buttons">
        {{ caller() }}
      </div>
      {% endif %}
    </div>
  </div>
{%- endmacro %}
