{% from 'components/icon.html' import Icon %}

{% macro StickyCTA(text, context=None) -%}
  <div class="sticky-cta" v-sticky='{ "stickyBitStickyOffset": 76 }'>
    <div class="sticky-cta-container">
      <div class="sticky-cta-text">
        <h3>{{ text }}</h3>
        {% if context %}
        <span class="sticky-cta-context"> {{ context }} </span>
        {% endif %}
      </div>
      {% if caller %}
      <div class="sticky-cta-buttons">
        {{ caller() }}
      </div>
      {% endif %}
    </div>
  </div>
{%- endmacro %}
