{% from "components/alert.html" import Alert %}
{% from "components/checkbox_input.html" import CheckboxInput %}

{% macro SubmitConfirmation(modal_id, submit_text, submit_action, form, task_order) %}
  <submit-confirmation inline-template name="{{ modal_id }}" key="{{ modal_id }}">
    <div>
      <div class="usa-input">
        <label for="{{ modal_id }}-deleted-text">
          <span class="usa-input__help">
            Signature confirmation: Task Order #{{task_order.number}}
          </span>
          {{ Alert('',
            message="All task orders require a Contracting Officer signature."
          ) }}
        </label>
        <span v-on:change="toggleValid">
          {{ CheckboxInput(field=form.signature) }}
        </span>
      </div>
      <div class="action-group">
        <form method="POST" action="{{ submit_action }}">
          {{ form.csrf_token }}
          <button class="usa-button usa-button-primary" v-bind:disabled="!valid">
            {{ submit_text }}
          </button>
          <button v-on:click="deleteText = ''; $root.closeModal('{{ modal_id }}')" class="usa-button usa-button-secondary">{{ "common.cancel" | translate }}</button>
        </form>

      </div>
    </div>
  </submit-confirmation>
{% endmacro %}
