{% macro TotalsBox(task_order=None, obligated_funds=0, contract_amount=0) -%}

  <div class="totals-box">
    {% if task_order %}
      {% set obligated_funds = task_order.total_obligated_funds %}
      {% set contract_amount = task_order.total_contract_amount %}
    {% endif %}

    <div class="h4">{{ 'components.totals_box.obligated_funds' | translate }}</div>
    <div class="h3">{{ obligated_funds | dollars }}</div>
    <p>{{ 'components.totals_box.obligated_text' | translate }}</p>
    <div class="h4">{{ 'components.totals_box.total_amount' | translate }}</div>
    <div class="h3">{{ contract_amount | dollars }}</div>
    <p>{{ 'components.totals_box.total_text' | translate }}</p>

  </div>

{%- endmacro %}
