{% from "components/icon.html" import Icon %}

{% macro UploadInput(field, show_label=False, watch=False, token="", object_name="") -%}
<uploadinput
  inline-template
  {% if not field.errors %}
    v-bind:initial-data='{{ field.filename.data | tojson }}'
  {% else %}
    v-bind:initial-errors='true'
  {% endif %}
  v-bind:watch='{{ watch | string | lower }}'
  name='{{ field.name }}'
  :optional='false'
  >
  <div>
    <div v-show="hasAttachment" class="uploaded-file">
      {{ Icon("check-circle-solid") }}
      <span class="uploaded-file__name" v-html="baseName"></span>
      <a href="#" class="uploaded-file__remove" v-on:click="removeAttachment">Remove</a>
    </div>
    <div v-show="hasAttachment === false" v-bind:class='{ "usa-input": true, "usa-input--error": showErrors }'>
      {% if show_label %}
        {{ field.label }}
      {% endif %}
      {{ field.description }}
      <div v-if="!hideInput" class="upload-widget">
        <label class="upload-label" for="{{ field.name }}">
          <span class="upload-button">
            Browse
          </span>
        </label>
        <input
          v-on:change="addAttachment"
          ref="attachmentInput"
          accept="{{ field.accept }}"
          id="{{ field.name }}"
          name="{{ field.name }}"
          aria-label="Task Order Upload"
          v-bind:value="attachment"
          type="file">
          <input type="hidden" name="{{ field.filename.name }}" id="{{ field.filename.name }}" ref="attachmentFilename">
          <input type="hidden" name="{{ field.object_name.name }}" id="{{ field.object_name.name }}" ref="attachmentObjectName">
      </div>
      <template v-if="uploadError">
        <span class="usa-input__message">{{ "forms.task_order.upload_error" | translate }}</span>
      </template>
      <template v-if="sizeError">
        <span class="usa-input__message">{{ "forms.task_order.size_error" | translate }}</span>
      </template>
      {% for error, error_messages in field.errors.items() %}
        <span class="usa-input__message">{{error_messages[0]}}</span>
      {% endfor %}
    </div>
  </div>
</uploadinput>
{%- endmacro %}
