{% from "components/tooltip.html" import Tooltip %}

<aside class='usa-banner'>
  <img src='{{ url_for("static", filename="img/us_flag_small.png") }}' alt='U.S. Flag' />
  <p>An official website of the United States government</p>

  {{ Tooltip('<p><strong>The .mil means it’s official.</strong><br/>Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you’re on a federal government site.</p><br/><p><strong>The site is secure.</strong><br>The <strong>https://</strong> ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely.</p>',
  title='Here’s how you know') }}

</aside>
