{% from "components/text_input.html" import TextInput %}

{% macro UserInfo(first_name, last_name, email, dod_id) -%}
<div class='form-row'>
  <div class='form-col form-col--half'>
    {{ TextInput(first_name) }}
  </div>

  <div class='form-col form-col--half'>
    {{ TextInput(last_name) }}
  </div>
</div>

<div class='form-row'>
  <div class='form-col form-col--half'>
    {{ TextInput(email, placeholder='name@mail.mil') }}
  </div>

  <div class='form-col form-col--half'>
    {{ TextInput(dod_id, placeholder='1234567890') }}
  </div>
</div>
{% endmacro %}
