{% from "components/icon.html" import Icon %}
{% from "components/required_label.html" import RequiredLabel %}

{% macro ReviewTextField(heading, field, filter=None) %}
  <div class="col col--grow">
    <h4 class='task-order-form__heading'>{{ heading | translate }}</h4>
    {% if field %}
      <p>{{ field | findFilter(filter) }}</p>
    {% else %}
      {{ RequiredLabel() }}
    {% endif %}
  </div>
{% endmacro %}

{% macro ReviewTextFieldWithDownload(heading, field, url, link_text, filter=None) %}
  <div class="col col--grow">
    <h4 class='task-order-form__heading'>{{ heading | translate }}</h4>
    {% if field %}
      <p>{{ field | findFilter(filter) }}</p>
    {% else %}
      {{ RequiredLabel() }}
    {% endif %}
    <p><a href="{{ url }}" class='icon-link icon-link--left' download>{{ Icon('download') }} {{ link_text | translate }}</a></p>
  </div>
{% endmacro %}

{% macro ReviewSelectField(heading, field, filter=None) %}
  <div class="col col--grow">
    <h4 class='task-order-form__heading'>{{ "{}.label".format(heading) | translate }}</h4>
    {% if field %}
      <p>{{ "{}.{}".format(heading, field) | translate | findFilter(filter) }}</p>
    {% else %}
      {{ RequiredLabel() }}
    {% endif %}
  </div>
{% endmacro %}

{% macro ReviewTOValueTable(budget, clin_1, clin_2, clin_3, clin_4) %}
  <div class="col col--grow">
    <table class="funding-summary__table">
      <tbody>
        <tr>
          <td><h4>{{ "task_orders.new.review.to_value"| translate }}</h4></td>
          <td class="table-cell--align-right">
            {% if budget %}
              {{ budget | dollarsWithCents }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <td><h4 class='task-order-form__heading funding-summary__td'>{{ "task_orders.new.review.clin_1"| translate }}</h4></td>
          <td class="table-cell--align-right">
            {% if clin_1 %}
              {{ clin_1 | dollarsWithCents }}
            {% else %}
              {{ RequiredLabel() }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <td><h4 class="task-order-form__heading funding-summary__td{% if not config.CLASSIFIED %} inactive{% endif %}">
            {{ "task_orders.new.review.clin_2"| translate }}
            {% if not config.CLASSIFIED %}
              <div>{{ "task_orders.new.review.classified_inactive"| translate }}</div>
            {% endif %}
          </h4></td>
          <td class="table-cell--align-right">
            {% if clin_2 and config.CLASSIFIED %}
              {{ clin_2 | dollarsWithCents or RequiredLabel() }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <td><h4 class='task-order-form__heading funding-summary__td'>{{ "task_orders.new.review.clin_3"| translate }}</h4></td>
          <td class="table-cell--align-right">
            {% if clin_3 %}
              {{ clin_3 | dollarsWithCents or RequiredLabel() }}
            {% else %}
              {{ RequiredLabel() }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <td><h4 class="task-order-form__heading funding-summary__td{% if not config.CLASSIFIED %} inactive{% endif %}">
            {{ "task_orders.new.review.clin_4"| translate }}
            {% if not config.CLASSIFIED %}
              <div>{{ "task_orders.new.review.classified_inactive"| translate }}</div>
            {% endif %}
          </h4></td>
          <td class="table-cell--align-right">
            {% if clin_4 and config.CLASSIFIED %}
              {{ clin_4 | dollarsWithCents or RequiredLabel() }}
            {% endif %}
          </td>
        <tr>
      </tbody>
    </table>
  </div>
{% endmacro %}

{% macro ReviewOfficerInfo(heading, first_name, last_name, email, phone_number, dod_id, invite) %}
  <div class="col col--grow">
    <h4 class='task-order-form__heading'>{{ heading | translate }}</h4>
    {{ first_name }} {{ last_name }}<br>
    {{ email }}<br>
    {% if phone_number %}
      {{ phone_number | usPhone }}
    {% else %}
      {{ RequiredLabel() }}
    {% endif %}
    <br>
    {{ "task_orders.new.review.dod_id" | translate }} {{ dod_id}}<br>
    {% if invite %}
      {{ Icon('ok', classes='icon--green') }} <span class="task-order-invite-message sent">{{ "task_orders.new.review.invited"| translate }}</<span>
    {% else %}
      {{ Icon('alert', classes='icon--red') }} <span class="task-order-invite-message not-sent">{{ "task_orders.new.review.not_invited"| translate }}</span>
    {% endif %}
  </div>
{% endmacro %}
