{% from "components/icon.html" import Icon %}

{% extends "base.html" %}

{% macro Help(icon_name="", name="", description="", link_text="") %}
  <div class="panel__content col">
    {{ Icon(icon_name, classes="task-order-help__icon") }}
    <h3>{{ name }}</h3>
    <p>{{ description }}</p>
    <a class="icon-link">{{ link_text }}</a>
  </div>
{% endmacro %}

{% block content %}

<div class="col col--grow task-order-get-started">
  <div class="panel task-order-get-started__panel">
    <h1 class="panel__content">Let's get started</h1>
    <div class="panel__content">
      <p class="centered">
          Creating a new portfolio enables you to organize all of your JEDI cloud applications, funding information, and reporting in one place. To get started, you’ll need to begin preparing your first task order, which will eventually be submitted in your organization’s system of record. If you’re unable to complete the task order draft in one session, any information entered will be saved for you to continue with when ready. You'll be guided through the necessary steps including:
      </p>
    </div>
    <span class="task-order-get-started__list panel__content">
      <ul>
        <li>Getting a statement of work</li>
        <li>Providing market research </li>
        <li>Completing security documentation</li>
        <li>Obtaining approvals</li>
      </ul>
    </span>

  </div>

  <div class="panel task-order-needs">
    <h1 class="panel__content">You’ll need to assemble a team</h1>
    <div class="panel__content task-order-needs__list">
      {{ Help(
        name="Development Lead",
        icon_name="computer",
        description="Your development lead will decide and estimate what types of cloud offerings your group needs.",
        link_text="Share cloud estimate link") }}
      {{ Help(
        name="Security Lead",
        icon_name="shield",
        description="Your security lead will review and approve your security classification needs, as well as a standardized DD-254.",
        link_text="You'll need their DOD ID number") }}
      {{ Help(
        name="Contracting Officer",
        icon_name="dollar-sign",
        description="Your contracting officer will review your funding needs and ultimately approve your task order.",
        link_text="You'll need their DOD ID number") }}
    </div>
  </div>

  <div class="task-order-get-started__actions">
    <div class="task-order-get-started__button-row">
      <a href="{{ request.referrer or url_for("atst.home") }}" class="icon-link">
        {{ Icon("caret_left") }}
        <span>Cancel</span>
      </a>
      <a href="{{ url_for("task_orders.new", screen=1) }}" class="usa-button usa-button-big">Create a porfolio</a>
    </div>
  </div>
</div>
{% endblock %}
