<div class="progress-menu progress-menu--four">
  <ul>
    {% for s in screens %}
      <li class="progress-menu__item progress-menu__item--{{ s.completion }}">
        <a
          {% set class='' %}
          {% if task_order_id %}
            href="{{ url_for('task_orders.new', screen=loop.index, task_order_id=task_order_id) }}"
          {% else %}
            {% set class="disabled"%}
          {% endif %}
          {% if g.matchesPath(url_for('task_orders.new', screen=loop.index)) %}
            {% set class="active" %}
          {% endif %}
          class={{class}}
        >
          {{ s['title'] }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
