// Panels Actions
// Form inputs and other actions for panels

.panel__actions {
  display: flex;
  padding: $gap;

  .usa-search {
    padding-top: 2px;
    input[type=search] {
      height: 4.4rem;
      font-size: 14px;
      color: $color-black;

    }
    button {
      min-height: 4.4rem;
    }
  }
}