/*
 * Tables
 * @see https://designsystem.digital.gov/components/tables/
 * @source https://github.com/uswds/uswds/blob/develop/src/stylesheets/elements/_table.scss
 */

table {
  @include panel-margin;
  margin-top: 0;

  tr {
    th {
      @include block-list-header;
    }

    td {
      @include block-list-item;
    }

    &:last-child {
      td {
        border-bottom-style: solid;
      }
    }

    .align-right {
      text-align: right;
    }
  }
}
