/*
 * Typography
 * @see https://designsystem.digital.gov/components/typography/
 * @source https://github.com/uswds/uswds/blob/develop/src/stylesheets/elements/_typography.scss
 */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans;

  .usa-button {
    position: relative;
    bottom: 0.5rem;
    left: 1rem;
  }

}

h1 {
  margin-top: 0.5em;
}

h2 {
  margin-top: 0;
}


a,
a:hover {
  transition:
    background $hover-transition-time,
    border $hover-transition-time,
    box-shadow $hover-transition-time,
    color $hover-transition-time,
}

dt {
  display: inline;
  font-weight: bold;
}
