{% extends "base.html" %}
{% from "components/alert.html" import Alert %}

{% block content %}
<div class='col'>

  {% if updated %}
    {{ Alert('User information updated.', level='success') }}
  {% endif %}

  <div class='panel'>
    <div class='panel__heading'>
      <h1>
        <div class='h2'>{{ user.first_name }} {{ user.last_name }}</div>
        <div class='h3'>DOD ID: {{ user.dod_id }}</div>
        <div class='subtitle h3'>Edit user details</div>
      </h1>
    </div>
  </div>

  {% set form_action = url_for('users.user') %}
  {% include "fragments/edit_user_form.html" %}

</div>
{% endblock %}
