{% extends "base.html" %}

{% block content %}

<div class="col">

  {% include 'requests/menu.html' %}

  {% include "fragments/flash.html" %}

  {% block form_action %}
    {% if request_id %}
      <form method='POST' action="{{ url_for('requests.requests_form_update', screen=current, request_id=request_id) }}" autocomplete="off">
    {% else %}
      <form method='POST' action="{{ url_for('requests.requests_form_update', screen=current) }}" autocomplete="off">
    {% endif %}
  {% endblock %}

    <div class="panel">

      <div class="panel__heading">
        <h1>{% block heading %}{% endblock %}</h1>
        <div class="subtitle h2">{{ "requests._new.new_request" | translate }}</div>
      </div>

      <div class="panel__content">

        {{ f.csrf_token }}
        {% block form %}
        form goes here
        {% endblock %}

      </div>

    </div>

    {% block next %}

      <div class='action-group'>
        <input type='submit' class='usa-button usa-button-primary' value='{{ "requests._new.save_and_continue" | translate }}' />
      </div>

    {% endblock %}

  </form>

</div>

{% endblock %}
