{% extends "base.html" %}

{% from "components/alert.html" import Alert %}

{% block content %}
<div class="col">

  {% if jedi_request.is_pending_ccpo_acceptance %}
    {{ Alert('Request submitted. Approval pending.', fragment="fragments/pending_ccpo_acceptance_alert.html") }}
  {% elif jedi_request.is_pending_ccpo_approval %}
    {{ Alert('Request submitted. Approval pending.', fragment="fragments/pending_ccpo_approval_modal.html") }}
  {% elif requires_fv_action %}
    {% include 'requests/review_menu.html' %}
    {{ Alert('Pending Financial Verification', fragment="fragments/pending_financial_verification.html") }}
  {% endif %}

  <div class="panel">
    <div class="panel__heading">
      <h1>Request Details</h1>
      <div class="subtitle"><h2>Request: {{ jedi_request.displayname }}</h2><span class="label label--info">{{ jedi_request.status_displayname }}</span></div>
    </div>

    <div class="panel__content">

      {% include "requests/_review.html" %}

    </div>
  </div>
</div>
{% endblock %}
