{% extends 'requests/_new.html' %}

{% from "components/text_input.html" import TextInput %}
{% from "components/options_input.html" import OptionsInput %}
{% from "components/date_input.html" import DateInput %}
{% from "components/phone_input.html" import PhoneInput %}

{% block heading %}
  Information About You
{% endblock %}

{% block form %}

{% include "fragments/flash.html" %}

<p>Please tell us more about you.</p>

<div class='form-row'>
  <div class='form-col form-col--half'>{{ TextInput(f.fname_request) }}</div>
  <div class='form-col form-col--half'>{{ TextInput(f.lname_request) }}</div>
</div>

{{ TextInput(f.email_request, placeholder='e.g. jane@mail.mil', validation='email') }}
{{ PhoneInput(f.phone_number, f.phone_ext, placeholder_phone='e.g. (123) 456-7890') }}

<p>We want to collect the following information from you for security auditing and determining priviledged user access.</p>

{{ OptionsInput(f.service_branch) }}
{{ OptionsInput(f.citizenship) }}
{{ OptionsInput(f.designation) }}
{{ DateInput(f.date_latest_training,tooltip="When was the last time you completed the IA training? <br> Information Assurance (IA) training is an important step in cyber awareness.",placeholder="MM / DD / YYYY", validation="date") }}
{% endblock %}
