{% extends 'requests/_new.html' %}

{% from "components/text_input.html" import TextInput %}
{% from "components/options_input.html" import OptionsInput %}
{% from "components/date_input.html" import DateInput %}

{% block heading %}
  Details of Use
{% endblock %}

{% block form %}

{% include "fragments/flash.html" %}

<details-of-use inline-template v-bind:initial-data='{{ f.data|tojson }}'>
  <div>

    {{ "requests.screen-1.form_instructions" | translate }}

    <h2>{{ "requests.screen-1.general_title_text"| translate }}</h2>
    {{ OptionsInput(f.dod_component) }}
    {{
      TextInput(
        f.jedi_usage,
        paragraph=True,
        placeholder=("requests.screen-1.jedi_usage_placeholder" | translate)
      )
    }}

    <h2>{{ "requests.screen-1.cloud_readiness_title_text" | translate }}</h2>
    {{
      TextInput(
        f.num_software_systems,
        validation="integer",
        tooltip=("requests.screen-1.num_software_systems_tooltip" | translate),
        placeholder="0"
      )
    }}
    {{
      OptionsInput(
        f.jedi_migration,
        tooltip=("requests.screen-1.jedi_migration_tooltip" | translate)
      )
    }}

    <transition name='slide'>
      <template v-if="jediMigrationOptionSelected">
        <fieldset class='form__sub-fields' v-if='isJediMigration' v-cloak>
          <legend class='usa-sr-only'>
            {{ "requests.screen-1.questions_title_text" | translate }}
          </legend>
          {{
            OptionsInput(
              f.rationalization_software_systems,
              tooltip=("requests.screen-1.rationalization_software_systems_tooltip" | translate)
            )
          }}
          {{ OptionsInput(f.technical_support_team) }}
          <transition name='slide'>
            <template v-if="hasTechnicalSupportTeam">
              {{ OptionsInput(f.organization_providing_assistance) }}
            </template>
          </transition>
          {{ OptionsInput(
              f.engineering_assessment,
              tooltip=("requests.screen-1.engineering_assessment_tooltip" | translate)
            )
          }}
          {{ OptionsInput(f.data_transfers) }}
          {{ OptionsInput(f.expected_completion_date) }}
        </fieldset>

        <template v-if='!isJediMigration' v-cloak>
          {{
            OptionsInput(
              f.cloud_native,
              tooltip=("requests.screen-1.cloud_native_tooltip" | translate)
            )
          }}
        </template>
      </template>
    </transition>

    <h2>{{ "requests.screen-1.financial_usage_title" | translate }}</h2>
    {{
      TextInput(
        f.estimated_monthly_spend,
        tooltip=("requests.screen-1.estimated_monthly_spend_tooltip" | translate),
        validation="dollars",
        placeholder="$0"
      )
    }}

    <div class='alert alert-info'>
      <div class='alert__content'>
        <div class='alert__message'>
          {{ "requests.screen-1.approximate_annual_spend_paragraph" | translate }}
        </div>
      </div>
    </div>

    <transition name='slide'>
      <template v-if="annualSpend > {{ annual_spend_threshold }}">
        <fieldset class='form__sub-fields'>
          <h3>
            {{ "requests.screen-1.additional_plan_details_title" | translate }}
          </h3>
          {{ TextInput(f.number_user_sessions, validation='integer', placeholder="0") }}
          {{
            TextInput(
              f.average_daily_traffic,
              tooltip=("requests.screen-1.average_daily_traffic_tooltip" | translate),
              validation="integer",
              placeholder="0"
            )
          }}
          {{
            TextInput(
              f.average_daily_traffic_gb,
              tooltip=("requests.screen-1.average_daily_traffic_gb_tooltip" | translate),
              validation="gigabytes",
              placeholder="0GB"
            )
          }}
        </fieldset>
      </template>
    </transition>

    {{
      TextInput(
        f.dollar_value,
        validation='dollars',
        placeholder='$0',
        tooltip=("requests.screen-1.dollar_value_tooltip" | translate)
      )
    }}
    {{ DateInput(f.start_date, placeholder='MM / DD / YYYY', validation='date') }}
    {{ TextInput(f.name, placeholder='Request Name', validation='portfolioName') }}

  </div>
</details-of-use>

{% endblock %}
