{% extends 'requests/_new.html' %}

{% from "components/alert.html" import Alert %}
{% from "components/text_input.html" import TextInput %}
{% from "components/options_input.html" import OptionsInput %}
{% from "components/date_input.html" import DateInput %}

{% block subtitle %}
<h2>Information About You</h2>
{% endblock %}

{% block form %}

{% if f.errors %}
  {{ Alert('There were some errors',
    message="<p>Please see below.</p>",
    level='error'
  ) }}
{% endif %}

<p>Please tell us more about you.</p>

<div class='form-row'>
  <div class='form-col form-col--half'>{{ TextInput(f.fname_request) }}</div>
  <div class='form-col form-col--half'>{{ TextInput(f.lname_request) }}</div>
</div>

<div class='form-row'>
  <div class='form-col form-col--two-thirds'>{{ TextInput(f.email_request, placeholder='jane@mail.mil', validation='email') }}</div>
  <div class='form-col form-col--one-third'>{{ TextInput(f.phone_number, placeholder='e.g. (123) 456-7890', validation='usPhone') }}</div>
</div>

<p>We want to collect the following information from you for security auditing and determining priviledged user access.</p>

{{ OptionsInput(f.service_branch) }}
{{ OptionsInput(f.citizenship) }}
{{ OptionsInput(f.designation) }}
{{ DateInput(f.date_latest_training,tooltip="When was the last time you completed the IA training? <br> Information Assurance (IA) training is an important step in cyber awareness.",placeholder="MM / DD / YYYY", validation="date") }}
{% endblock %}
