{% extends 'requests/_new.html' %}

{% from "components/text_input.html" import TextInput %}
{% from "components/checkbox_input.html" import CheckboxInput %}

{% block heading %}
  Designate a Portfolio Owner
{% endblock %}

{% block form %}

{% include "fragments/flash.html" %}

<poc inline-template v-bind:initial-data='{{ f.data|tojson }}'>
  <div>

    <p>The Portfolio Owner is the primary point of contact and technical administrator of the JEDI Cloud Portfolio and will have the
      following responsibilities:</p>
    <ul>
      <li>Organize your cloud-hosted systems into applications and environments</li>
      <li>Add users to this portfolio and manage members</li>
      <li>Manage access to the JEDI Cloud service provider’s portal</li>
    </ul>
    </p>

    <p>This person must be a DoD employee (not a contractor).</p>
    <p>The Portfolio Owner may be you. You will be able to add other administrators later. This person will be invited via email
      once your request is approved.</p>

    {{ CheckboxInput(f.am_poc) }}

    <template v-if="!am_poc" v-cloak>

      <div class='form-row'>
        <div class='form-col form-col--half'>{{ TextInput(f.fname_poc) }}</div>
        <div class='form-col form-col--half'>{{ TextInput(f.lname_poc) }}</div>
      </div>

      <div class='form-row'>
        <div class='form-col form-col--half'>{{ TextInput(f.email_poc, validation='email', placeholder='e.g. jane@mail.mil') }}</div>
        <div class='form-col form-col--half'>{{ TextInput(f.dodid_poc, validation='dodId', placeholder='10-digit number on back of CAC') }}</div>
      </div>

    </template>

  </div>
</poc>
{% endblock %}
