{% extends "base.html" %}

{% from "components/alert.html" import Alert %}

{% block content %}
<div class="col">
  <div class="panel">
    <div class="panel__heading">
      <h1>View Pending Request</h1>
    </div>

    <div class="panel__content">
      {{ Alert('Your request is being reviewed',
        message="<p>You cannot edit your submitted request while it is under review. Your request will be reviewed within 3 business days.</p>",
        level='warning'
      ) }}

      {% include "requests/_review.html" %}

    </div>
  </div>
</div>
{% endblock %}
